.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Dependents
    .panel-body
      %h2 RUT Invalido

      = link_to "Editar", "/dependents/#{@person.dependent.id}/edit", data: { modal: true }, class: 'btn btn-info'