.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title EMAIL
    .panel-body
      %h2 Correo Enviado correctamente
 
      = link_to '<< Lugares de Trabajo', senddiscount_index_path,  class: 'btn btn-info'
  
      %br
      %br