%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Mis Cuotas
      .panel-body
        .row
          %table.table.table-striped
            %thead
              %tr
                %th Pago realizado por
                %th Mes
                %th Fecha Registro Pago
                %th Monto
            %tbody
              - @person.fees.order(mescuota: :desc).each do |pago|
                %tr
                  %td= pago.pagador
                  %td= pago.mes_cuota
                  %td= pago.created_at.strftime('%d/%m/%Y %H:%M')
                  %td= pago.monto