.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title REGISTRO DE PAGO
    .panel-body
      %h2= @msg
 
      = link_to 'Volver', dashboard_index_path,  class: 'btn btn-info' 
      %br
      %br