.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Cónyuge
    .panel-body
      %h2 RUT Invalido

      = link_to "Editar", "/spouses/#{@person.spouse.id}/edit", data: { modal: true }