!!!
%html
  %head
    %meta{:content => "NOINDEX, NOFOLLOW", :name => "ROBOTS"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      ReadMsgBody{ width: 100%;}
      .ExternalClass {width: 100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
      body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;margin:0 !important;}
      p { margin: 1em 0;}
      table td { border-collapse: collapse;}
      img {outline:0;}
      a img {border:none;}
      p {margin: 1em 0;}
      @-ms-viewport{ width: device-width;}
    :css
      @media only screen and (max-width: 480px) {
        .container {width: 100% !important;}
        .footer { width:auto !important; margin-left:0; }
        .content-padding{ padding:4px !important; }
        .mobile-hidden { display:none !important; }
        .logo { display:block !important; padding:0 !important; }
        img { max-width:100% !important; height:auto !important; max-height:auto !important;}
        .header img{max-width:100% !important;height:auto !important; max-height:auto !important;}
        .photo img { width:100% !important; max-width:100% !important; height:auto !important;}
        .drop { display:block !important; width: 100% !important; float:left; clear:both;}
        .footerlogo { display:block !important; width: 100% !important; padding-top:15px; float:left; clear:both;}
        .nav4, .nav5, .nav6 { display: none !important; }
        .tableBlock {width:100% !important;}
        .responsive-td {width:100% !important; display:block !important; padding:0 !important; }
        .fluid, .fluid-centered {
          width: 100% !important;
          max-width: 100% !important;
          height: auto !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
        .fluid-centered {
          margin-left: auto !important;
          margin-right: auto !important;
        }
        /* MOBILE GLOBAL STYLES - DO NOT CHANGE */
        body { padding: 0px !important; font-size: 16px !important; line-height: 150% !important;}
        h1 { font-size: 22px !important; line-height: normal !important;}
        h2 { font-size: 20px !important; line-height: normal !important;}
        h3 { font-size: 18px !important; line-height: normal !important;}
        .buttonstyles {
          font-family:arial,helvetica,sans-serif !important;
          font-size: 16px !important;
          color: #FFFFFF !important;
          padding: 10px !important;
        }
        /* END OF MOBILE GLOBAL STYLES - DO NOT CHANGE */
      }
      @media only screen and (max-width: 640px) {
        .container { width:100% !important; }
        .mobile-hidden { display:none !important; }
        .logo { display:block !important; padding:0 !important; }
        .photo img { width:100% !important; height:auto !important;}
        .nav5, .nav6 { display: none !important;}
        .fluid, .fluid-centered {
          width: 100% !important;
          max-width: 100% !important;
          height: auto !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
        .fluid-centered {
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    /[if mso] <style type="text/css">           /* Begin Outlook Font Fix */           body, table, td {               font-family: Arial, Helvetica, sans-serif ;               font-size:16px;               color:#808080;               line-height:1;           }           /* End Outlook Font Fix */       </style>
  %body{:bgcolor => "#ffffff", :style => "background-color: #FFFFFF; color: #000000; margin: 0px; padding: 0px; -webkit-text-size-adjust:none;", :text => "#000000", :yahoo => "fix"}
    :css
      div.preheader 
      { display: none !important; }
    .preheader{:style => "font-size: 1px; display: none !important;"} Postgrados y Postítulos - Universidad de los Andes
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top"}
          %table.dashedBorder{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 550", :width => "100%"}
            %tr
              %td{:align => "center", :style => "FONT-FAMILY: Arial; WHITE-SPACE: normal; FONT-SIZE: 11px", :valign => "middle"}
                %font{:color => "#444444"}
                  Si no puedes visualizar este correo,
                  = succeed "." do
                    %a{:href => "http://view.infouandes.cl/?qs=b026c481c6cb6509d27a43ff3f68d9dffdc592a3edf61bd26931c3db36e0a881a058391a3d6999bed0f7c2c42fbcaef6b22affb2439231d89038d6c2b2779382", :style => "COLOR: #0000ff; TEXT-DECORATION: underline", :title => "esse link"} acceda aquí
      %tr
        %td{:align => "center"}
          %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              %td
                %table.tb_properties.border_style{:bgcolor => "#ffffff", :cellpadding => "0", :cellspacing => "0", :style => "background-color:#FFFFFF;", :width => "100%"}
                  %tr
                    %td.header{:align => "center", :valign => "top"}
                      %table.stylingblock-content-wrapper{:cellpadding => "0", :cellspacing => "0", :style => "border-top: 1px solid #5D5D5D;border-right: 1px solid #5D5D5D;border-bottom: 1px solid #5D5D5D;border-left: 1px solid #5D5D5D;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px; ", :width => "100%"}
                        %tr
                          %td.stylingblock-content-wrapper.camarker-inner{:style => "padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;"}
                            %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tr
                                %td
                                  %a{"data-linkto" => "http://", :href => "http://click.infouandes.cl/?qs=cf933699976485d3dc4e0571b95a00e48a40d5c00ea4b72e01e2e47609b1ff4470d4bdb749f34495c5c05f5dae889d2f9a35774f0629e961", :title => ""}
                                    %img{"data-assetid" => "6938", :height => "auto", :src => "http://image.infouandes.cl/lib/fe8a1372776306757c/m/2/2b87c8fe-5ff5-4903-ae9f-04a7ecc3688d.jpg", :style => "height:auto;width:100%;display: block;padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;", :width => "100%"}/
      %tr
        %td{:valign => "top"}
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %table.dashedBorder{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "1", :style => "width: 700", :width => "100%"}
            %tr
              %td{:align => "center", :style => "FONT-FAMILY: Arial; WHITE-SPACE: normal; FONT-SIZE: 11px", :valign => "middle"}
                %font{:color => "#444444"}
                  Este correo ha sido enviado a
                  %b= @user.email
                %br/
                %br/
            %tr
              %td{:align => "center", :style => "FONT-FAMILY: Arial; WHITE-SPACE: normal; FONT-SIZE: 11px", :valign => "middle"}
                %font{:color => "#444444"}
                  Si no deseas recibir más nuestros correos electrónicos, acceda a este
                  = succeed "." do
                    %a{:href => "http://click.infouandes.cl/profile_center.aspx?qs=2c46e97348d278fdde81fe54aeac76cce4386fcf6bcc398210c3a0128aad969934cfcc4cff4e2577a9424e51c061c353903d8a9e80d3bd6c"}
                      %b link
          %br/
          %br/
          %p{:style => "color: #222222; font-family: arial, sans-serif; font-size: 11px;"}
            *ADVERTENCIA Este mensaje es Confidencial y de uso exclusivo del destinatario anteriormente mencionado. Si por error ha recibido este mail, no debe distribuirlo ni leerlo, sólo debe ser borrado.
          %p{:style => "color: #222222; font-family: arial, sans-serif; font-size: 11px;"}
            %span{:lang => "EN-US"}> *WARNING This message is Confidential and of exclusive use of the adressee previously mentioned. If you have received this mail by mistake, it must not be distributed nor read it, it only has to be erased. 
            *
    %img{:height => "1", :src => "http://click.infouandes.cl/open.aspx?ffcb10-fec015777c600279-fe5015767d61027b7d13-fe8a1372776306757c-ff8f1379-fe6b1571746601797512-ffce15", :width => "1"}/

