%h3= "Estimados Señores: #{@workplace.nombre}"
%br

%p A la fecha no se ha recepcionado su comprobante de pago y nomina, solicitamos dicha información para poder registrar el pago de nuestras colegiadas, es de suma importancia, debido que nuestro sistema solicita el pago individual de cada asociada.

%p Favor enviar esta información a tesoreria@colegiodeenfermeras.cl  con copia a contabilidad@colegiodeenfermeras.cl

%p Atento a sus comentarios. 

%p saludos

%br
%br
%p Luis Torres Videla
%p Contador
%p Colegio de Enfermeras de Chile A.G. 
%p Miraflores 563, Santiago
%p Fono  02- 23649174 - 23649173
%p Mail:  tesoreria@colegiodeenfermeras.cl
%br
%br
%br
