<table width="600px" cellspacing="0" cellpadding="0"><tr><td><a href="http://postgrados.uandes.cl/clge/?utm_source=ColegioEnfermeras/clge/18-07-2017&utm_medium=CorreoExterno&utm_campaign=Enfermeria" title="" alias="" conversion="false" data-linkto="http://"><img data-assetid="7509" src="http://image.infouandes.cl/lib/fe8a1372776306757c/m/2/9785f17b-6b88-4146-9023-804bb1ca8b09.jpg" height="auto" width="100%" style="height:auto;width:100%;display: block;padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"></a></td></tr></table>


