%h3= "Estimadas/os #{@workplace.nombre}"
%h4 Presente
%p De nuestra Consideración:
%p= "Por la presente, adjunto remito a usted (es), nómina de descuento que corresponde al #{Time.now.strftime("%m/%Y")} "
%p Importante: Favor enviar esta información a su tesorero para confección del pago.
%p Solicitamos confeccionar cheque nominativo y cruzado a nombre del Colegio de Enfermeras de Chile A.G. Rut. 70.029.600 – 8, el que puede ser depositado o transferido a nuestra cuenta corriente del banco estado N° 310549, enviados los respaldos correspondientes a nuestro mail detallado más abajo o bien enviando el cheque con su respectiva nómina directamente a nuestras dependencias ubicadas en Calle Miraflores 563, o Casilla  #  9752, Correa Plaza de Armas Santiago.
%br 
%p Agradeceré la confirmación y recepción conforme al siguiente mail tesorería@colegiodeenfermeras.cl
%br 
%p Sin otro particular, le saluda
%br
%br
%p EDUARDO TORRES BRAVO 			
%p FONO 223649174			
%p COLEGIO DE ENFERMERAS DE CHILE			
%p MIRAFLORES 563, SANTIAGO			
%p tesoreria@colegiodeenfermeras.cl			