 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
<div bgcolor="#ffffff" text="#000000" style="background-color:#ffffff;color:#000000;margin:0px;padding:0px">
<div style="font-size:1px;display:none!important">Postgrados y Postítulos - Universidad de los Andes</div><table width="100%" border="0" cellpadding="0" cellspacing="0" align="center"><tr><td align="center" valign="top"><table style="width:550" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tr>
<td style="FONT-FAMILY:Arial;WHITE-SPACE:normal;FONT-SIZE:11px" valign="middle" align="center"><font color="#444444">Si no puedes visualizar este correo, <a style="COLOR:#0000ff;TEXT-DECORATION:underline" title="esse link" href="http://view.infouandes.cl/?qs=945c4892a18a3403b96efa63723e610220e92157b6b6a539e9e2c983ebc3e92f22f3ce2a59e97b0893b78741e3a8e79c56aeefa3b926f9d7c351d50113ee3c47" target="_blank">acceda aquí</a>.</font></td>
</tr>
</table></td></tr><tr><td align="center"><table cellspacing="0" cellpadding="0" border="0" width="600" align="center"><tr><td><table style="background-color:#ffffff" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%"><tr><td align="center" valign="top"><table cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #272727;border-top:1px solid #272727;border-right:1px solid #272727;border-bottom:1px solid #272727;border-left:1px solid #272727;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><tr><td style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><table width="100%" cellspacing="0" cellpadding="0"><tr><td>
<a href="http://click.infouandes.cl/?qs=c880465040d03816c5be080f7f7cccf17f4db295c1a14dcae1c9c55d67146a1e6f9d73b566549bb3b2679a67201195ed9dd771a2777d819f" title="Correo PADE Colegio enfermeras Julio 2017" target="_blank">
<img src="http://image.infouandes.cl/lib/fe8a1372776306757c/m/2/0c721733-76a5-4d35-9e20-72f8995fe2da.jpg" height="auto" width="100%" style="height:auto;width:100%;display:block;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"></a></td></tr></table></td></tr></table></td></tr></table></td></tr></table></td></tr><tr><td valign="top"><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<table style="width:700" border="0" cellspacing="1" cellpadding="0" width="100%" align="center">
<tr>
</tr>
<tr>
  <td style="FONT-FAMILY:Arial;WHITE-SPACE:normal;FONT-SIZE:11px" valign="middle" align="center"><font color="#444444">Si no deseas recibir más nuestros correos electrónicos, acceda a este <a href="http://click.infouandes.cl/profile_center.aspx?qs=deaf3848fe965b93a228cf55cb0cf8611f15d9a475c341aa9fb60052210f995664fa520c86eb500f8ece2c984d9646a019a5e43df9353b11" target="_blank"><b>link</b></a>.</font></td>
  </tr>
  
</table>
<br>
<br>


<p style="color:#222222;font-family:arial,sans-serif;font-size:11px">
*ADVERTENCIA Este mensaje es Confidencial y de uso exclusivo del destinatario anteriormente mencionado. Si por error ha recibido este mail, no debe distribuirlo ni leerlo, sólo debe ser borrado.
</p>
<p style="color:#222222;font-family:arial,sans-serif;font-size:11px">
<span lang="EN-US">*WARNING This message is Confidential and of exclusive use of the adressee previously mentioned. If you have received this mail by mistake, it must not be distributed nor read it, it only has to be erased. </span>*
</p>

</td></tr></table><img src="http://click.infouandes.cl/open.aspx?ffcb10-fecf167074670d7c-fe5f16787d65007a7516-fe8a1372776306757c-ff8f1379-fe6315777763057d771c-ffce15" width="1" height="1"></div></body></html>


