
.col-md-12
  .center
    =image_tag("https://drive.google.com/uc?id=1RDnFuPFxO9BBTPewFkVFN8wrLWsFH_Kk", :alt => "")
/ https://drive.google.com/file/d/1bZ1n6fFu7MtlEwjsoaW74sIe6gBk5gaa/view?usp=sharing

/ https://drive.google.com/file/d/1RDnFuPFxO9BBTPewFkVFN8wrLWsFH_Kk/view?usp=sharing