.pasillo-bkg 
  .container
    %br
    %br
    %h1 Beneficios
    %br
    %br
    .row
      .col-md-4.center-text 
        %img{:alt => "", :src => "http://colegiodeenfermeras.cl/wp-content/uploads/2015/01/logo-finis.jpg"}
        %h5 Descuento de un 20% sobre el arancel de lista de los Diplomados y Cursos Universidad Finis Terrae.
      .col-md-4.center-text
        %img{:alt => "", :src => "http://colegiodeenfermeras.cl/wp-content/uploads/2015/01/Universidad-de-Los-Andes100.jpg"}
        %h5 Descuento de un 10% de descuento para colegiadas en cursos y programas de postgrado de la Universidad de Los Andes.
      .col-md-4.center-text
        %img{:alt => "", :src => "http://colegiodeenfermeras.cl/wp-content/uploads/2015/01/udd100.jpg"}
        %h5 15% de descuento para colegiadas en cursos y programas de postgrado de la Universidad del Desarrollo.
    %br
    %br

    .row
      .col-md-4.center-text
        %img{:alt => "", :src => "http://colegiodeenfermeras.cl/wp-content/uploads/2015/01/logo-mediterraneo.jpg"}
        %h5 25% de descuento en publicaciones de sellos editoriales Segismundo y Mediterráneo y un 15% en el resto de los fondos editoriales distribuidos por Mediterráneo.
      .col-md-4.center-text
        %img{:alt => "", :src => "http://colegiodeenfermeras.cl/wp-content/uploads/2015/01/arcis.jpg"}
        %h5 Descuento de un 15% del arancel de colegiatura y de un 50% del arancel de matrícula de los programas académicos de la UNIVERSIDAD ARCIS.
      .col-md-4.center-text
        %img{:alt => "", :src => "http://colegiodeenfermeras.cl/wp-content/uploads/2015/01/logo-ucen.jpg"}
        %h5 Descuentos y Beca desde un 10% a un 100% en cursos de postgrado de la Facultad de Ciencias de la Salud y Centro de Informática en Salud de la Universidad Central.
    %br
    %br
  
    .row    
      %ul
        %li Participación en sorteos de: viajes, libros, inscripciones liberadas y otros premios, en el congreso de enfermería.
        %li Recepción de la Revista Enfermería
        %li Valores de inscripción preferencial en talleres organizados por el Colegio de  Enfermeras y programas de educación continua online.
        %li Inscripción liberada de pago en Symposium organizados por el colegio.
        %li Acceso al Centro de Documentación del Colegio: préstamo de materiales, consultas, búsqueda internet.
        %li Acceso a préstamos de auxilio del Departamento de Bienestar y préstamos solidarios.


