%h1 poner como una publicación


Pertenecer al Colegio de Enfermeras es contar con la protección y defensa del gremio más grande del país. Colegiarse es apoyar el trabajo gremial, defender los derechos de las enfermeras y enfermeros, participar en la toma de decisiones y contribuir a fortalecer nuestra organización en beneficio de la salud de Chile.


Descuento de un 20% sobre el arancel de lista de los Diplomados y Cursos Universidad Finis Terrae.

Descuento de un 10% de descuento para colegiadas en cursos y programas de postgrado de la Universidad de Los Andes.

15% de descuento para colegiadas en cursos y programas de postgrado de la Universidad del Desarrollo.

25% de descuento en publicaciones de sellos editoriales Segismundo y Mediterráneo y un 15% en el resto de los fondos editoriales distribuidos por Mediterráneo.

Descuento de un 15% del arancel de colegiatura y de un 50% del arancel de matrícula de los programas académicos de la UNIVERSIDAD ARCIS.

Descuentos y Beca desde un 10% a un 100% en cursos de postgrado de la Facultad de Ciencias de la Salud y Centro de Informática en Salud de la Universidad Central.
Participación en sorteos de: viajes, libros, inscripciones liberadas y otros premios, en el congreso de enfermería.
Recepción de la Revista Enfermería
Valores de inscripción preferencial en talleres organizados por el Colegio de  Enfermeras y programas de educación continua online.
Inscripción liberada de pago en Symposium organizados por el colegio.
Acceso al Centro de Documentación del Colegio: préstamo de materiales, consultas, búsqueda internet.
Acceso a préstamos de auxilio del Departamento de Bienestar y préstamos solidarios.