.fusion-fullwidth.fullwidth-box{:style => "background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:20px;padding-left:0px;padding-right:0px;padding-top:20px;"}
  .avada-row
    .fusion-title.title
      %h3.title-heading-left ESTATUTOS
      .title-sep-container
        .title-sep.sep-single{:style => "border-color:#e9a825;"}
    %p{:style => "text-align: center;"}
      %strong ESTATUTO DEL COLEGIO DE ENFERMERAS DE CHILE A.G
      %br/
      %strong Aprobado en Asamblea Extraordinaria del 01 de Agosto de 2008
    %p{:style => "text-align: center;"}
      %strong T I T U L O I.-
      %br/
      ESTATUTO DEL COLEGIO DE ENFERMERAS DE CHILE
      %br/
      ASOCIACION GREMIAL
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 1º
      %br/
      El Colegio de Enfermeras de Chile, Asociación Gremial, es una institución de carácter nacional, sin fines de lucro cuya organización y funcionamiento se regirá por las normas del Decreto Ley Nº 2.757 de 1979, y sus modificaciones, así como por las disposiciones contenidas en el presente Estatuto.
      %br/
      Para todos los efectos, esta Asociación Gremial es la sucesora legal y continuadora de la Corporación de Derecho Público denominada “Colegio de  Enfermeras de Chile”, creada por Ley Nº 11.161.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 2º.-
      %br/
      El domicilio legal del Colegio de Enfermeras será la ciudad de Santiago, donde funcionará el Directorio Nacional y sesionará su Consejo Nacional, sin perjuicio de los Consejos Regionales y Subsedes que se contemplen en el presente estatuto.
    %p{:style => "text-align: center;"}
      %strong T I T U L O II
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 3º.-
      %br/
      El Colegio de Enfermeras de Chile tiene por objeto el servicio de las enfermeras, mediante el perfeccionamiento y racionalización de la profesión y su protección económica y social.
      %br/
      Para conseguir esta finalidad, el Colegio especialmente podrá:
    %p{:style => "text-align: justify;"}
      a) Crear y mantener publicaciones y divulgación; actividades de capacitación y perfeccionamiento continuo de las enfermeras, ciclos de conferencias, premios a obras científicas o a memorias de estudiantes de Enfermería.
      %br/
      b) Organizar reuniones, convenciones y Congresos de enfermeras tanto nacionales como internacionales y mantener relaciones permanentes con las instituciones profesionales nacionales y extranjeras;
      %br/
      c) Promover y cautelar la óptima formación de enfermeras.
      %br/
      d) Promover y cautelar las condiciones de salud de las enfermeras, colaborando para ello con las autoridades pertinentes.
      %br/
      e) Representar a los Poderes Públicos las repercusiones que la legislación vigente, así como las reformas que se proyecte introducir, pudieran tener sobre la salubridad general, sobre la eficacia del trabajo de la enfermera, sobre las condiciones en que éste se realiza y sobre la adecuada remuneración y seguridad;
      %br/
      f) Considerar las condiciones de trabajo y económicas de los Servicios Públicos y Privados que presten atención de enfermería, de acuerdo con las modalidades y necesidades de cada región;
      %br/
      g) Crear y mantener fondos de solidaridad, sistemas y organismos que promuevan el bienestar de las enfermeras y se preocupen del permanente mejoramiento de su seguridad social.
      %br/
      h) Velar por el prestigio de la profesión y de las asociadas;
      %br/
      i) Reglamentar el ejercicio de las especialidades de enfermería, sea para fines internos de la Asociación o en colaboración con las autoridades;
      %br/
      j) Colaborar con las autoridades competentes en la represión del ejercicio ilegal de la profesión de enfermera;
      %br/
      k) Ilustrar a la opinión pública sobre la función social de la enfermera.
      %br/
      l) Concurrir a la constitución o asociarse a corporaciones, instituciones u otros que tengan por objetivo prestar servicios de formación y capacitación en enfermería profesional y participar en ellos.
    %p{:style => "text-align: center;"}
      %strong T I T U L O I I I
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 4º.-
      %br/
      Para ser asociada del Colegio será necesario acreditar título profesional de enfermera. Podrán también solicitar su inscripción las enfermeras que habiendo recibido dicho título en un país extranjero están habilitadas para ejercer la profesión en el país, conforme a los Tratados, Convenciones y Protocolos suscritos por el Gobierno de Chile.
      %br/
      Además, podrán ser miembros del Colegio en calidad honorífica, las enfermeras extranjeras, sin residencia o domicilio en Chile, a quienes el Consejo Nacional les haya otorgado esta calidad en consideración a su excelencia profesional y/o académica, o en atención a los servicios prestados a la Asociación.
    %p{:style => "text-align: justify;"}
      ARTICULO 5º.-
      %br/
      El ingreso al Colegio de Enfermeras, salvo lo dispuesto en el inciso segundo del artículo 4º, deberá ser siempre solicitado por escrito mediante la presentación firmada por la interesada, acompañando el título profesional.
      %br/
      La aceptación o rechazo de una solicitud será resuelta por el Consejo Nacional. Una Fotocopia de la solicitud y del título profesional serán remitidos por el respectivo Consejo Regional, e informadas dentro del plazo de diez días de su recepción, al Consejo Nacional, siempre que la postulante haya dado cumplimiento a las demás exigencias establecidas.
    %p{:style => "text-align: justify;"}
      La solicitud de afiliación y la inscripción deberán contener las menciones y requisitos que establezca el Consejo Nacional, de acuerdo a las normas legales y reglamentarias sobre Asociaciones Gremiales.
      %br/
      En todo caso, se dejará constancia que la solicitante se obliga a cumplir en todas sus partes los presentes estatutos y acatar los acuerdos que tome el Consejo Nacional y los Consejos Regionales.
    %p{:style => "text-align: center;"}
      %strong T I T U L O I V
    %p{:style => "text-align: center;"}
      %strong Del Patrimonio.-
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 6º.-
      %br/
      El patrimonio del Colegio de Enfermeras se formará:
      %br/
      a) Con las cuotas o aportes ordinarios o extraordinarios que paguen las asociadas;
      %br/
      b) Con las donaciones entre vivos o asignaciones por causa de muerte, que se le hicieren;
      %br/
      c) Con el producto de sus bienes y de los servicios que presta a las asociadas o a terceros;
      %br/
      d) Con la renta o arriendo de sus activos;
      %br/
      e) Con las erogaciones o subvenciones que reciba;
      %br/
      f) Con los ingresos provenientes de las multas que se apliquen a los asociados, de acuerdo a estos Estatutos; y
      %br/
      g) Con los bienes que adquieran a cualquier título.
    %p{:style => "text-align: center;"}
      %strong T I T U L O V.-
      %br/
      %strong Del Consejo Nacional.-
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 7º.-
      %br/
      La supervisión de los objetivos del Colegio de Enfermeras estará a cargo del Consejo Nacional, con sede en Santiago.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 8º.-
      %br/
      El Consejo Nacional del Colegio, estará constituido por el Directorio Nacional, compuesto por nueve (9) miembros y por las (os) Presidentas (es) de los Consejos Regionales y de las Subsedes.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 9º.-
      %br/
      Los miembros del Directorio Nacional que integran este Consejo durarán dos años en sus cargos y podrán ser reelegidos para el mismo cargo por no más de un periodo consecutivo. El resto de los integrantes del Consejo Nacional permanecerá en el cargo mientras ejerzan las Presidencias de los Consejos Regionales y Subsedes.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 10º.-
      %br/
      Para ser miembro del Directorio Nacional se requiere:
      %br/
      a) Estar inscrito y con las cuotas vigentes en los registros de la Asociación;
      %br/
      b) Estar en posesión del título de enfermera a lo menos durante 3 años;
      %br/
      c) No haber sido objeto de medidas disciplinarias, impuestas por el Consejo Nacional durante los últimos cinco años;
      %br/
      d) No haber sido condenado por crimen o simple delito y
      %br/
      e) Tener residencia en Regiones Metropolitana, V y/o VI.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 11º.-
      %br/
      No podrán ser simultáneamente miembros del Consejo Nacional, los parientes consanguíneos o afines en la línea recta, o segundo de afinidad, inclusive.
      %br/
      Si en una elección resultaran elegidas dos o más personas a quienes afectase alguna de estas incompatibilidades, el Consejo decidirá por quien haya obtenido el mayor número de votos.
      %br/
      En caso de empate o de no haberse verificado elección, se decidirá por sorteo la elección del Consejero.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 12º.-
      %br/
      Son atribuciones del Directorio Nacional, en su calidad de mesa ejecutiva, las siguientes:
      %br/
      a) Representar a la organización en todas las instancias de carácter nacional e internacional.
      %br/
      b) Emitir opinión y fijar posición en materias de interés profesional, gremial y de la sociedad en su conjunto.
      %br/
      c) Tomar decisiones y ejecutar políticas y acciones acordadas por el Consejo Nacional
      %br/
      d) Ejecutar presupuesto aprobado en Consejo Nacional
      %br/
      e) Realizar inversiones conforme a los criterios acordados en Consejo Nacional
      %br/
      f) Resolver apelaciones emanadas del sumario ético
      %br/
      g) Otorgar préstamos y ayudas solidarias de acuerdo a políticas definidas en Consejo Nacional
      %br/
      h) Aceptar y/ o rechazar apelaciones o reclamos sobre afiliaciones al Colegio.
      %br/
      i) Editar Revista Enfermería y otras publicaciones
      %br/
      j) Administrar sitio WEB
      %br/
      k) Presidir Organismo de Capacitación
      %br/
      l) Presidir Departamento Certificación Especialidades
      %br/
      m) Todas las demás atribuciones que le asigne el Consejo Nacional
    %p{:style => "text-align: justify;"}
      %strong ARTÍCULO 12 bis.-
      %br/
      Son atribuciones del Consejo Nacional:
      %br/
      a) Fijar la política general de acción del Colegio de Enfermeras, de acuerdo con las finalidades que le señalen estos estatutos;
      %br/
      b) Velar por el prestigio, progreso y prerrogativas de la profesión y por su regular y correcto ejercicio; mantener la disciplina profesional de las asociadas, prestar protección a las enfermeras y definir para sus asociadas las especializaciones de enfermería.
      %br/
      c) Velar por las condiciones de trabajo de las enfermeras de los servicios públicos, municipales, privados y cualquier otro que empleen enfermeras, teniendo presente las modalidades y necesidades de cada Región y servicio y proponer a las autoridades correspondientes las medidas tendientes a que las condiciones de trabajo de las Enfermeras sean compatibles con una calidad digna de vida y resguarden su salud física y mental.
      %br/
      d) Conocer en segunda instancia de los asuntos sobre aplicación de medidas disciplinarias por los Consejos Regionales y respecto de los cuales se conceda el recurso de apelación. En todo caso, previo sumario, el Consejo Nacional podrá aplicar por sí mismo las sanciones que establecen los presentes estatutos y aquellas que transgreden las normas contempladas en el Código de Ética del Colegio de Enfermeras, aprobado en 2008, además tiene la facultad de contestar a los Tribunales de Justicia.
      %br/
      e) Administrar los bienes del Colegio de Enfermeras. Para este efecto tendrá todas las atribuciones y facultades necesarias para la consecución de las finalidades sociales y en especial, sin que ello sea limitativo, celebrar contratos de cuenta corriente con instituciones bancarias y comprar, vender, permutar, transferir a cualquier título, hipotecar, gravar y dar o tomar en arrendamiento los bienes inmuebles y cualquier derecho constituido en ellos, sin perjuicio de lo dispuesto en el inicio 2º del Artículo 9º del D.L. 2757;
      %br/
      f) Fijar el monto de las cuotas ordinarias que deben pagar las asociadas, previa aprobación de la Asamblea General.- Del mismo modo, fijar las cuotas extraordinarias que se destinarán a financiar proyectos o actividades previamente determinadas, previa aprobación por la Asamblea General de socios, mediante voto secreto, con la voluntad de la mayoría absoluta de sus afiliados,
      %br/
      g) Aprobar anualmente el presupuesto de gastos del Consejo Nacional, Consejos Regionales y subsedes;
      %br/
      h) Evaluar el funcionamiento de los Consejos Regionales y decretar, por unanimidad, su reorganización, cuando deficiencias graves en su funcionamiento así lo hicieran indispensable.
      %br/
      i) El Consejo Nacional será representado legalmente por su Presidenta/e y otros o quien hagan sus veces.
      %br/
      Para acreditar esta representación bastará un certificado de la Secretaría General del Colegio.
      %br/
      j) Mantener un registro informático de todas las enfermeras inscritas en la Asociación.
      %br/
      En este registro se dejará constancia de las distinciones, cargos que desempeñan en la Organización y de las medidas disciplinarias que les fueron aplicadas.
      %br/
      Este registro será reservado y no deberá utilizarse o entregarse a casas comerciales, bancos o similares.
      %br/
      k) Crear los Departamentos y Comisiones de Trabajo que estime necesarios para el cumplimiento de los objetivos del Colegio, destinado o adscribiendo fondos especiales para este efecto;
      %br/
      l) Aprobar o rechazar las solicitudes de ingreso de las Enfermeras que cumplen los requisitos para ser asociadas, según el Art. 4º del presente Estatuto.
      %br/
      m) Velar por el cumplimiento de estos estatutos y asesorar a la justicia en la represión ilegal de la profesión;
      %br/
      n) Designar los representantes del Colegio ante los organismos e institución nacionales e internacionales;
      %br/
      ñ) Dictar los reglamentos que estime necesarios para la marcha de la institución, como a si mismo para su organización interna y la aplicación de los presentes Estatutos dentro del marco de la legislación y objetivos de las Asociaciones Gremiales;
      %br/
      o) Adoptar las decisiones y acuerdos relacionados con el cumplimiento de los objetivos de la Asociación; y
      %br/
      p) Delegar, por unanimidad, parte de las facultades contempladas en este artículo, en la Presidente, 1ª Vicepresidente, Secretaria General y Secretaria de Finanzas; como así mismo en los consejos regionales, para actuar a nombre y en representación del Colegio de Enfermeras de Chile, Asociación Gremial, dentro del ámbito de su jurisdicción a través de la Presidenta del Colegio.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 13º
      %br/
      El Consejo Nacional sesionará con la simple mayoría de sus miembros.-
      %br/
      Los acuerdos se adoptarán por simple mayoría, salvo los casos en que exista disposición expresa en contrario.-
      %br/
      La inasistencia a sesiones ordinarias durante 5 veces consecutivas, sin causa escrita justificada, que corresponderá calificar al resto de los integrantes del Consejo, determinará sin más trámite la vacancia del cargo.- La vacancia será llenada en la forma que determina el Reglamento.-
      %br/
      Podrá sesionar en forma extraordinaria en cualquier ciudad del país por acuerdo mayoritario de los miembros del Consejo.-
      %br/
      En caso de ausencia o impedimento de las(os) Presidentas(es) Regionales en ejercicio, serán reemplazadas(os) por las respectivas Vicepresidentas(es), Secretaria(o) o Tesorera(o) u otro miembro del Directorio del Consejo Regional, debidamente acreditado.
      %br/
      En caso de ausencia o impedimento por más de tres meses, de un miembro del Directorio Nacional que integra el Consejo, se deberá convocar a Elecciones Nacionales, siempre que falten más de 6 meses para las Elecciones Ordinarias.
      %br/
      Este procedimiento se aplicará a los cargos de la Presidencia, Vicepresidencias, Secretaria General y Secretaria de Finanzas.
      %br/
      Para el resto de los cargos, frente a igual situación, se podrá cooptar una persona hasta que se verifique la siguiente elección ordinaria.
    %p{:style => "text-align: center;"}
      %strong T I T U L O VI.-
      %br/
      %strong “Directorio Nacional”
    %p{:style => "text-align: left;"}
      %strong ARTICULO 14º.-
      %br/
      El Directorio Nacional estará compuesto por 9 (nueve) miembros, elegidos por votación personal y secreta de todos los asociados del país y durarán en su cargo 2 años y podrán ser reelegidos para el mismo cargo por no más de un periodo consecutivo. El Directorio Nacional se renovará cada 2 años.
      %br/
      La distribución de los cargos del Directorio Nacional, se hará de acuerdo a la votación obtenida y según las especificaciones del reglamento general de elecciones de la organización.
      %br/
      Para ser miembro del Directorio Nacional se requiere cumplir con los requisitos establecidos en el Art. 10º, y. 11º.
    %p{:style => "text-align: left;"}
      %strong ARTICULO 15º
      %br/
      El Directorio Nacional estará compuesto por:
      %br/
      Presidenta/e Nacional
      %br/
      1ª Vice presidencia de desarrollo profesional
      %br/
      2ª Vice presidencia de asuntos laborales
      %br/
      3ª Vice presidencia de asuntos internacionales
      %br/
      Secretaria General
      %br/
      Secretaria de Finanzas
      %br/
      Secretaria de Comunicaciones y Relaciones Públicas
      %br/
      Secretaria de Capacitación e Investigación
      %br/
      Secretaria de Administración Interna
      %br/
      Un reglamento definirá las funciones de cada uno de los cargos del Directorio Nacional
    %p{:style => "text-align: left;"}
      %strong ARTICULO 16º
      %br/
      Serán miembros del Directorio Nacional aquellas(os) candidatas(os) que dentro de cada lista hayan obtenido el mayor número de preferencias individuales.
    %p{:style => "text-align: left;"}
      %strong ARTICULO 17º
      %br/
      Los miembros del Directorio Nacional asumirán los cargos, en la primera sesión del Consejo Nacional luego de haberse verificado elecciones ordinarias conforme al reglamento vigente.
    %p{:style => "text-align: center;"}
      %strong T I T U L O V I I.-
      %br/
      %strong De los Consejos Regionales.-
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 18 º.-
      %br/
      Habrá Consejos Regionales que funcionarán en las ciudades de Arica, Iquique, Antofagasta, Copiapó, La Serena, Valparaíso, Santiago, Rancagua, Talca, Concepción, Temuco, Valdivia, Puerto Montt, Coyhaique y Punta Arenas.
      %br/
      Habrá subsedes que funcionarán en las ciudades de Linares, Chillán, Osorno y Chiloé.
      %br/
      Un reglamento determinará los límites jurisdiccionales de estos Consejos y la constitución de nuevas sedes.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 19 º.-
      %br/
      Los Consejos Regionales estarán compuestos por cinco (5) miembros, salvo Valparaíso y Concepción que lo estarán por siete (7), y Santiago por nueve (9) miembros y por los Presidentes de las subsedes que de igual manera estarán compuestos por cinco (5) miembros.
      %br/
      Serán elegidos por votación personal y secreta por las enfermeras inscritas en la jurisdicción respectiva, durarán cuatro (4) años en sus cargos y podrán ser reelegidos. Se renovarán por parcialidades en la forma que determine el Reglamento.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 20 º.-
      %br/
      Para ser miembro de un Consejo Regional y subsede se requieren las condiciones exigidas en el artículo 10º, letra a), c) y d); estar en posesión del título de Enfermera a lo menos 1 año y residir en la jurisdicción respectiva.
      %br/
      En la elección de Consejos Regionales y subsedes serán también aplicables las incompatibilidades establecidas en el artículo 11º.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 21º.-
      %br/
      Son obligaciones y atribuciones de los Consejos Regionales y subsedes:
      %br/
      a) Las indicadas para el Consejo Nacional en cuanto sean aplicables, dentro del territorio de sus respectivas jurisdicciones, con excepción de las consignadas en las letras a), d),e),f),g),h),i) y j) del Artículo 12º.
      %br/
      b) Administrar los bienes colocados bajo su tuición por el Consejo Nacional.
      %br/
      c) Remitir al Consejo Nacional, para su aceptación o rechazo, debidamente informados, los antecedentes a que se refiere el inciso segundo Art. 5º.
      %br/
      d) Percibir del consejo nacional un porcentaje no inferior al 35%, ni superior al 45% de las cuotas ordinarias que aporta cada consejo regional y subsede, cuya distribución porcentual estará en directa relación con el número de afiliados al regional respectivo, lo que se determinará en el correspondiente reglamento.
      %br/
      e) Llevar el registro de las enfermeras asociadas de su jurisdicción.
      %br/
      f) Eliminar de los registros de la Asociación o aplicar las medidas o sanciones de amonestación verbal, censura por escrito, multa o suspensión de hasta seis meses en la calidad de asociado, a quienes hayan incurrido en acciones u omisiones que les hagan acreedores a tales sanciones.
      %br/
      g) Se considerará falta grave el incumplimiento de las obligaciones destinadas a dar cumplimiento a los objetivos propios de la Asociación a que se refiere el Art. 3º de estos Estatutos; así como la desobediencia a las instrucciones de las autoridades de la Asociación actuando como tales, y el no pago de las cuotas por más de tres períodos.
      %br/
      h) Un socio podrá ser excluido por la comisión de una falta calificada como grave por el inciso anterior.
      %br/
      i) Un reglamento interno determinará los requisitos y formalidades a que deberá sujetarse la aplicación de cualquier sanción.
      %br/
      j) En todo caso, la investigación deberá ser practicada por una consejera con audiencia y recepción de pruebas de la culpada debidamente emplazada. La exclusión o eliminación de un socio de los registros sólo podrá ser acordada por el Consejo Nacional, previo cumplimiento de los requisitos anteriores.
      %br/
      g) Aprobar anualmente el presupuesto de ingresos, gastos e inversiones enviándolo para su aprobación al Consejo Nacional.
      %br/
      h) Solicitar al Consejo Nacional el pago de cuotas extraordinarias, en conformidad al inciso 2º del Art. 12º del D.L. 2757 y sus modificaciones.
      %br/
      i) En general, realizar, bajo la supervigilancia del Consejo Nacional y de acuerdo con sus directivos e indicaciones, todos los actos conducentes al cumplimiento de la finalidad a la Asociación.
      %br/
      j) Integrar el Consejo Nacional por medio de la respectiva Presidenta (e), Vicepresidenta (e) Secretaria(o) o Tesorera(o) debidamente acreditada.
    %p{:style => "text-align: center;"}
      %strong T I T U L O V I I I
      %br/
      %strong De las Asambleas Generales Ordinarias
      %br/
      %strong y Extraordinarias
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 21Bis.-
      %br/
      Habrá Asamblea Ordinaria de los inscritos en el Consejo Regional en el curso del mes de Abril de cada año. En ella, el Directorio Nacional
      %br/
      presentará una Memoria de la labor de la Asociación durante el año precedente y un balance anual practicando al 31 de Diciembre. El balance deberá ser firmado por la Presidenta y Tesorera y aprobado por un contador.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 22-
      %br/
      En las Asambleas Ordinarias podrá deliberarse sobre cualquier asunto de interés general relacionado con la marcha de finalidades de la Asociación del Consejo Nacional.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 23º.-
      %br/
      El Consejo Nacional convocará anualmente a todos los Dirigentes Regionales y de Sub sedes a una Convención anual con el objeto de evaluar y definir temas relevantes para las políticas de la Asociación, y los acuerdos serán aprobados o rechazados por el Consejo Nacional en la reunión ordinaria o extraordinaria más próxima. Incluido en la Tabla de la citación. Las convenciones se regirán por las normas que determinen el Reglamento.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 24º.-
      %br/
      Habrá Asamblea de los inscritos en la Asociación cuando lo acuerde el Consejo Nacional o lo pida por escrito a la Presidente, indicando su objeto, un número de enfermeras que representen a lo menos el 20% de las inscritas en el Registro General.
      %br/
      En estas son reuniones sólo podrán tratarse los asuntos que han sido objeto de la Convocatoria.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 25º.-
      %br/
      En esta Asamblea General el quórum será el veinte por ciento, a lo menos, de las enfermeras inscritas. Si no se requiere ese quórum la reunión se verificará al día siguiente, a la misma hora, con las que concurran.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 26º.-
      %br/
      La citación a Asamblea General se hará por medio de tres avisos publicados en un diario de la ciudad del asiento de los Consejo Regionales, con indicaciones del día, lugar y hora de la reunión, señalándose, además, su objeto.
      %br/
      Las enfermeras asociadas podrán concurrir personalmente o bien otorgar poder a otra colegiada, autorizada ante la Secretaria del Consejo Regional
      %br/
      respectivo.
      %br/
      El primer aviso se publicará a lo menos con treinta días de anticipación al señalado para la reunión.
      %br/
      Los Consejos realizarán a lo menos una vez al año una Convención Regional a los dirigentes de base, Capítulos y Subsede con el objeto de evaluar e implementar políticas nacionales, definir políticas regionales. Los acuerdos serán aprobados o rechazados en la sesión de Consejo más próxima.
    %p{:style => "text-align: justify;"}
      %strong> ARTICULO 27º
      \.-
      %br/
      Habrá Asamblea Extraordinaria cuando así lo acuerde el Consejo, o lo solicitado por escrito a la Presidente, indicando su objeto, un número de enfermeras no inferior al veinte por ciento de las inscritas en el Registro Regional.
      %br/
      En estas reuniones sólo podrán tratarse los asuntos que han sido objeto de la convocatoria. Las citaciones se efectuarán por escrito con, a lo menos, tres días de anticipación, mediante un aviso publicado en un diario de la ciudad del asiento de los Consejo Regionales, con indicaciones del día, lugar y hora de la reunión, señalándose, además, su objeto. El quórum será el mismo indicado para las reuniones generales.
    %p{:style => "text-align: center;"}
      %strong T I T U L O I X
      %br/
      %strong Disolución, Liquidación y Reforma de Estatutos
    %p{:style => "text-align: left;"}
      %strong ARTICULO 28º.-
      %br/
      El Colegio de Enfermeras de Chile, Asociación Gremial, podrá solicitar su disolución por acuerdo de la mayoría de las asociadas reunidas en Asamblea General Extraordinaria.
    %p
      %strong ARTICULO 29.-
      %br/
      El Colegio tendrá una duración ilimitada, salvo que lo afecte alguna de las causales de disolución previstas en la Ley o en sus estatutos. Si se disolviere la Asociación sus fondos, sus bienes y útiles pasarán a poder de la entidad que determine el Presidente de la República.
    %p
      %strong ARTICULO 30.-
      %br/
      Las reformas que se estime necesario introducir en los presentes Estatutos deberán ser aprobadas en Asamblea General Extraordinaria, con asistencia de un Notario Público, quien actuará como Ministro de Fe.
    %p{:style => "text-align: center;"}
      %strong T I T U L O X.-
      %br/
      %strong Disposiciones Generales.-
    %p{:style => "text-align: justify;"}
      %strong ARTICULO 31.-
      %br/
      Lo que no se encuentre previsto en la Ley ni en los presentes Estatutos, será resuelto por la Convención de socios.
      %br/
      La simple interpretación de los Estatutos corresponderá al Consejo Nacional de la Asociación.
    %p
      %strong ARTICULO 32.-
      %br/
      Se entenderán afiliadas al Colegio de Enfermeras de Chile, asociación gremial, todas las enfermeras/os que se encuentren inscritas en los
      %br/
      registros del colegio de enfermeras de Chile, creado por ley Nº 11.161, al día de la publicación en el diario oficial del extracto del acta de creación y aprobación de los estatutos de la asociación.
    %p
      %strong ARTICULO 33.-
      %br/
      Formará parte del patrimonio del colegio de enfermeras de chile, asociación gremial, la totalidad del activo y pasivo del colegio de enfermeras de chile, creado por ley 11.161, al día de publicación en el diario oficial del extracto del acta de creación y aprobación de los estatutos.
      %br/
      Disposiciones Transitorias
      %br/
      Articulo Único Transitorio
      %br/
      Mientras no se apruebe el respectivo reglamento, se mantendrá en vigencia el primitivo texto de la letra d) del art. 21 que establece la actual distribución de los ingresos del colegio.
