/ .background
/   .topbar
/     .container
/       / = image_tag 'logo.png', class: 'logo'
/       %h2.brand.brand_topbar
/         %span.bold Colegio de
/         %span Enfermeras de Chile
/       .pull-right
/         =link_to 'Login', "", class: 'btn btn_landing'
/         =link_to 'Registrate', "", class: 'btn btn_landing'
/   .center#slide-00
/     .landing_content
/       %h1.center_text
/         Tienes una idea de negocio ?
/         %br
/         nosotros te ayudamos a convertirla en realidad 
/       .divider_line
/       %h4.center_text
/         Desarrollamos tu plan de negocios y te orientamos para hacerlo realidad.
/       %br
/       %br
/       %br
/       .center
/         = link_to 'Comienza ya !', "", class: 'btn btn_pill btn-block'