.suero-fijo-bkg 
  .container
    %br
    %br
    %br
    %br
    %br
    %h1 OBLIGACIONES
    .row
      .col-md-2
      .col-md-8
        %p{:style => "text-align: justify;"}
          %strong FEDERACIÓN PANAMERICANA DE PROFESIONALES DE ENFERMERIA COLEGIO DE ENFERMERAS DE  CHILE
        %p{:style => "text-align: justify;"}
          %strong CÓDIGO DE ÉTICA
          %br/
          (1991)
        %p{:style => "text-align: justify;"}
          %strong 1.- De los Deberes hacia la Sociedad
          %br/
          La atención de Enfermería es un servicio a la comunidad basado en las necesidades de salud de las personas y Familias que la enfermera/o profesional proporciona como parte integrante y calificada de los programas de prevención, protección, recuperación y rehabilitación de la salud, dando especial énfasis a la educación
          %br/
          individual y de grupo y a estimular la participación activa de la comunidad en la solución de los problemas que la afectan.
          %br/
          Los principios que fundamentan a la Enfermería obligan a rechazar cualquier tipo de discriminación a individuos,
          %br/
          familias o grupos en relación con la atención que presta. Estos postulados fueron reafirmados por el Consejo de
          %br/
          Representantes Nacionales del Consejo Internacional de Enfermeras en 1971 (Dublín-Irlanda) al adoptar la resolución que establece que “ los servicios de enfermería son universales y, por tanto, deben prestarse sin distinción de nacionalidad, raza, color, religión, política, sexo o condición social, y considerando que las Naciones Unidas han publicado la Declaración Universal de los Derechos Humanos, resuelve: que el CIE ratifique esta declaración y solicite a sus asociaciones miembros que tomen las disposiciones necesarias para apoyar y
          %br/
          poner en práctica los objetivos establecido en dicho documento”.
        %p{:style => "text-align: justify;"} Esto implica que deben considerarse los siguientes aspectos:
        %p{:style => "text-align: justify;"}
          %strong 1.1.- Decisión del Paciente y Familia en materia de salud.
        %p{:style => "text-align: justify;"}
          La Enfermera/o profesional debe reconocer el derecho que tiene el individuo sano o enfermo para decidir si
          %br/
          acepta, rechaza o pone término a la atención en salud. Este concepto se aplica también a los menores de edad o
          %br/
          incapacitados para decidir, a través de sus familiares responsables o representantes legales. Sin embargo, existen situaciones, especiales en que este derecho no se ejerce en interés del paciente o no se exige, como en caso de urgencia o ausencia de los familiares.
        %p{:style => "text-align: justify;"}
          %strong 1.2.- Condición del Paciente o Cliente.
        %p{:style => "text-align: justify;"}
          La enfermera/o en la práctica de su profesión debe dar atención de enfermería a todas las personas que lo solicitan,
          %br/
          respetando los valores culturales del individuo, sin importar la condición física o mental, de acuerdo a la naturaleza de la enfermedad o de los problemas que lo afectan.
        %p{:style => "text-align: justify;"}
          %strong 1.3.- Naturaleza de los problemas de Salud.-
        %p{:style => "text-align: justify;"} La atención de enfermería y la calidad de ella no puede estar limitada por actitudes personales o prejuicios. No obstante, si la naturaleza del problema de salud y el procedimiento a utilizar para resolverlo están en conflicto con las convicciones religiosas, morales o éticas de la enfermera/o puede abstenerse de desempeñar determinadas tareas, siempre que informe oportunamente a su superior jerárquico, para asegurar la atención del enfermo. Si en forma circunstancial o de emergencia debe participar, tiene la obligación de dar la mejor atención posible.
        %p{:style => "text-align: justify;"}
          Este derecho ha sido reconocido en el nuevo instrumento internacional, denominado “Convenio sobre Personal de
          %br/
          Enfermería 1977”, adoptado en la 63ª Reunión de la Conferencia Internacional del Trabajo, Ginebra, Junio 1977.
          %br/
          1.4.- Discriminación relacionada con los Servicios de Salud.
          %br/
          La enfermera no debe actuar con discriminación en cuanto a ofrecer sus servicios a las instituciones de Salud,
          %br/
          cualquiera que sea la naturaleza de la atención que ofrecen o tipo de institución que la proporciona, ya sea destinada a grupos especiales (reclusos, personas en situación irregular, asilos, etc.) teniendo en consideración la ayuda que prestan para cubrir las necesidades de salud de la población. Debe tener la opción de seleccionar el área geográfica de su preferencia.
        %p{:style => "text-align: justify;"}
          %strong 1.5.- Protección de la Familia y del Niño.
        %p{:style => "text-align: justify;"}
          La protección de la familia y del niño es motivo de preocupación de la comunidad internacional. Los padres tienen el
          %br/
          derecho de determinar libremente y con plena responsabilidad, el número e intervalo de sus hijos. Una de las tareas
          %br/
          de la enfermera es prestar colaboración, cuando sea posible, a que este derechosea ejercido, siempre y cuando no atente contra la ley natural o disposiciones vigentes sobre la materia.
        %p{:style => "text-align: justify;"}
          %strong 1.6. Atención del Paciente Terminal.
        %p{:style => "text-align: justify;"} En esta etapa la enfermera debe velar por la tranquilidad y seguridad del paciente, aliviar sus sufrimientos y cooperar con los familiares y otros para atender sus deseos. Es contrario a la ética apoyar medidas que contribuyen a acelerar la muerte, cualquiera que sean las circunstancias. La atención de enfermería debe mantenerse hasta el deceso del paciente.
        %p{:style => "text-align: justify;"}
          %strong 2. Resguardo de la privacidad del Paciente y Familia.
        %p{:style => "text-align: justify;"}
          El secreto profesional es un derecho del paciente y tiene implicación tanto ética como legal. A la enfermera
          %br/
          individualmente o como miembro del equipo profesional de la salud, le cabe una señalada responsabilidad en el
          %br/
          resguardo de este derecho, siempre y cuando con su silencio no afecte la vida o la salud del individuo..
        %p{:style => "text-align: justify;"}
          %strong 2.1. En relación al Paciente o Familia.
        %p{:style => "text-align: justify;"} La enfermare/o debe proteger cualquier información de carácter confidencial que conozca en el curso de su quehacer, sea directa o indirectamente. Si no se observa este principio, se deteriora la relación enfermera/o – paciente que se basa en una mutua confianza y se perjudica al paciente o familiares en su prestigio y bienestar.
        %p{:style => "text-align: justify;"}
          %strong 2.2. En relación al Trabajo de Equipo.
        %p{:style => "text-align: justify;"}
          La atención multiprofesional que se presta en los Servicios de Salud, exige que los datos relacionados con la salud de
          %br/
          pacientes y familia se registren en documentos (fichas, formularios, otros) para consulta de los miembros del equipo
          %br/
          de salud. Si la información es solicitada por autoridad competente, deberá enviarse de acuerdo a las normas
          %br/
          establecidas por la Institución, cuidando que los informes cuyo carácter es “confidencial” se cursen en forma
          %br/
          reservada.
        %p{:style => "text-align: justify;"}
          Si se desea utilizar fichas que contengan datos confidenciales con fines de estudio o investigación, debe obtenerse
          %br/
          autorización por escrito del paciente, de su familia o personas responsables, para proteger su privacidad y evitar una acción legal.
          %br/
          %strong 2.3. En relación a información que se
          %strong proporciona a la justicia.
        %p{:style => "text-align: justify;"}
          La enfermera/o puede verse obligada a declarar en juicio relacionado con los cuidados proporcionados al paciente,
          %br/
          personalmente o por intermedio de otro personal bajo sus órdenes.
        %p{:style => "text-align: justify;"}
          En este caso dará cuenta a su superior jerárquico y buscará asesoría jurídica antes de declarar para conocer la
          %br/
          responsabilidad que pudiera caberle.
        %p{:style => "text-align: justify;"}
          %strong 3. La Enfermera/o contribuye a proteger al Paciente y Público en general.
        %p{:style => "text-align: justify;"} La Enfermera/o tomará la acción que corresponda si por incompetencia, falta de ética o práctica ilegal se perjudica al paciente o familia.
        %p{:style => "text-align: justify;"}
          “Cuando los cuidados que reciba un paciente con puestos en peligro por un colega u otra persona, la enfermera/o
          %br/
          debe tomar la decisión más adecuada para protegerlo y actuar en consecuencia”.
        %p{:style => "text-align: justify;"} (Código de Etica del CIE).
        %p{:style => "text-align: justify;"}
          Cualquier reparo que le merezca la atención profesional de un colega u otra persona, debe comunicarlo a su superior
          %br/
          jerárquico. Cuando la gravedad del caso lo haga necesario, lo comunicará a su Organización Profesional.
        %p{:style => "text-align: justify;"} Posteriormente según el caso y con consulta legal, recurrirá a la justicia ordinaria.
        %p{:style => "text-align: justify;"} En circunstancias especiales, como conflicto armado nacional o internacional, las medidas de protección:
        %p{:style => "text-align: justify;"}
          “DERECHO Y Deberes de la Enfermera/o “ están especificados en los Convenios de Ginebra, 1949, de la Cruz
          %br/
          Roja Internacional, reafirmados por el CIE en 1973. Asimismo, el Rol de la Enfermera/o en la atención de los
          %br/
          detenidos, prisioneros políticos y comunes está considerado en la Resolución del Consejo de Representantes Nacionales del CIE,(Singapur 1975) en la que se acuerda “que el CIE condena la utilización de procedimientos perjudiciales a la salud física o mental” – y se resuelve finalmente “que la responsabilidad primordial de la enfermera/o es para con sus pacientes….”
        %p{:style => "text-align: justify;"}
          %strong 4. Responsabilidad de la Enfermera/o Profesional.
        %p{:style => "text-align: justify;"} 4.1. En el ejercicio profesional son cuatro los aspectos que reviste la responsabilidad de la enfermera/o: mantener y restaurar la salud, evitar las enfermedades y aliviar el sufrimiento. La enfermera/o debe atender en primer término a aquellas personas que necesiten de sus servicios profesionales y mantener en el ejercicio profesional una conducta irreprochable, que prestigie al a profesión.
        %p{:style => "text-align: justify;"}
          4.2 L a enfermera/o tiene responsabilidad legal por las acciones, decisiones y criterios que se aplican el la atención de enfermería directa o de apoyo, considerando que enfermería es una profesión independiente, que contribuye
          %br/
          con otras profesiones afines a proporcionar los cuidados de salud necesarios.
        %p{:style => "text-align: justify;"} 4.3 La enfermera/o es además, responsable de la atención total de enfermería y, por consiguiente, debe conocer la competencia del personal auxiliar de enfermería a quienes asigna determinadas tareas para asegurar la calidad de la atención, manteniendo una supervisión adecuada.
        %p{:style => "text-align: justify;"}
          %strong 5. La enfermera/o debe mantener su Competencia Profesional.
          %br/
          En consideración a que trabaja con seres humanos, es indispensable que la enfermera/o esté al día en los conocimientos científicos y tecnológicos,dado que los cambios se producen con extraordinaria rapidez en la era actual.
        %p{:style => "text-align: justify;"}
          La educación permanente al alcance de todas las enfermeras/os, aún las que trabajan en las zonas aisladas, es la
          %br/
          respuesta a las necesidades de perfeccionamiento profesional que contribuya al mejoramiento de los Servicios de Enfermería y a una atención eficiente.
        %p{:style => "text-align: justify;"}
          %strong 6. La enfermera/o acepta Nuevas Responsabilidades y delega algunas Tareas o Actividades.
        %p{:style => "text-align: justify;"}
          6.1 La resolución adoptada por la 30º Asamblea Mundial de la Salud (Mayo 1977) en general recomienda: Optimizar
          %br/
          la contribución del personal de Enfermería en la Atención Primaria de Salud, lo que necesariamente conlleva a
          %br/
          un análisis y redefinición de las responsabilidades de este personal, aspecto que debe ser abordado en forma
          %br/
          conjunta por las autoridades de salud y de enfermería. De esta manera se podrá establecer las funciones que competen al profesional de enfermería y aquellas que puedan ser delegadas.
        %p{:style => "text-align: justify;"} 6.2 La evolución del rol de la enfermera/o conlleva cambios en los programas educacionales, a fin de capacitarlas para estas nuevas responsabilidades. Si el profesional no está capacitado para asumirlas, debe rehuzarlas por su propia protección y la del paciente o familia.
        %p{:style => "text-align: justify;"} Tampoco debe aceptar funciones que no utilicen su preparación profesional o le signifiquen marginarse de las actividades que le son propias.
        %p{:style => "text-align: justify;"}
          6.3 Las enfermeras/os podrán delegar algunas de las actividades o tareas de enfermaría y asumir otras, pero cuidado
          %br/
          que: “La esencia del ejercicio de la profesión debe mantenerse dentro de un contexto de enfermería y el título de
          %br/
          enfermera/o no debe sufrir alteración”. (CIE, Normas de Ejercicio Profesional).
        %p{:style => "text-align: justify;"}
          El profesional de Enfermería debe esmerarse para que el paciente o familia no se vean afectados por estos cambios y
          %br/
          reciban una adecuada atención.
        %p{:style => "text-align: justify;"}
          %strong 7. La Enfermera/o colaborará en los esfuerzos tendientes a preservar el medio humano de los factores ambientales y otros riesgos.
        %p{:style => "text-align: justify;"}
          7.1 El profesional de enfermería debe mantenerse informado de nuevos estudios y planes de acción para detectar las
          %br/
          consecuencias perjudiciales que el medio ambiente ejerce sobre el hombre e, igualmente, sobre los planes de
          %br/
          conservación de los recursos naturales; la magnitud del problema relacionado con el hábito de fumar, el uso de estupefacientes y su control a objeto de ayudar a la comunidad y autoridades sanitarias en sus esfuerzos por fomentar y conservar la salud de la población.
        %p{:style => "text-align: justify;"}
          %strong 7.2 La Enfermera/o colaborará en los esfuerzos de la profesión para promover su progreso.
        %p{:style => "text-align: justify;"}
          Cada enfermera/o debe promover la investigación en su trabajo, participar en ella y utilizar sus resultados. Por esto
          %br/
          importante conocer las técnicas de investigación y seleccionar problemas de la profesión o de los Servicios de Salud
          %br/
          en aspectos que interesen a Enfermería o a la Comunidad, para estudiarlos, analizarlos y contribuir a resolverlos.
        %p{:style => "text-align: justify;"}
          Si la enfermera/o colabora en investigaciones con seres humanos, debe tener en consideración los sufrimientos,
          %br/
          riesgos, privacidad y derechos los sufrimientos y derechos del individuo antes de aceptar, rechazar o terminar su
          %br/
          participación en el proyecto. Deberá especialmente proteger sus derechos en caso de incapacidad del individuo o
          %br/
          dependencia del sujeto al investigador.
          %br/
          El Consejo de Representantes Nacionales del CIE, respecto al rol de la enfermera/o en la atención de detenidos, prisioneras políticos y comunes, resuelve: “que las enfermeras participen el al investigación clínica llevada a cabo en prisiones, únicamente si se posee la convicción de que el paciente ha otorgado libremente su consentimiento, luego de una detallada explicación que lo hará comprender cabalmente la naturaleza y el riesgo de la investigación”. (Singapur, Agosto 1975).
        %p{:style => "text-align: justify;"}
          En los casos que le merezca duda, la enfermera/o tiene pleno derecho para rehusar su participación y retirarse del
          %br/
          proyecto.
        %p{:style => "text-align: justify;"}
          %strong 8. La Enfermera/o colabora con su Organización Profesional para mejorar los Estándares de Enfermería.
        %p{:style => "text-align: justify;"}
          8.1. Es indispensable mantener estándares mínimos de práctica para evaluar la atención prestada y otros métodos.
          %br/
          Asimismo, éstos son necesarios en la administración de servicios de enfermería y educación en enfermería.
        %p{:style => "text-align: justify;"} Es deber de la enfermera/o aceptarlos, mantenerlos y contribuir a manejarlos, aceptándolos a los cambios. Estos es de especial importancia en las instituciones y servicio que sirvan de experiencia práctica a los estudiantes de enfermería.
        %p{:style => "text-align: justify;"}
          %strong 9. Relaciones de la Enfermera/o con su Organización Profesional.
        %p{:style => "text-align: justify;"}
          9.1. La enfermera/o debe comprometerse con su Organización Profesional afiliándose a ella y prestándole su
          %br/
          colaboración y apoyo en defensa de sus principios.
        %p{:style => "text-align: justify;"}
          9.2. Las decisiones que la Organización tome en Asamblea plena en defensa de los intereses de la profesión deben ser
          %br/
          acatadas por todos los miembros.
        %p{:style => "text-align: justify;"} 9.3. Se estima faltas graves:
        %p{:style => "text-align: justify;"}
          9.3.1. Estar atrasadas en el pago de sus cotizaciones en los términos que establecen los Estatutos y Reglamentos
          %br/
          vigentes.
        %p{:style => "text-align: justify;"} 9.3.2. Asociarse con personas que ejerzan ilegalmente la profesión o imparten enseñanza en programas de enfermería no autorizados por autoridad competente y que perjudiquen la profesión.
        %p{:style => "text-align: justify;"} 9.3.3 Recibir honorarios por atención a una colega o sus cargas familiares.
        %p{:style => "text-align: justify;"} 9.3.4. Abstenerse de utilizar el Guía de Referencia de Honorarios aprobado por la Organización Profesional.
        %p{:style => "text-align: justify;"} 9.3.5. Abstenerse de comunicar oportunamente de su Organización Profesional alguna iniciativa que comprometa o perjudica al gremio de enfermeras/os o a la comunidad.
        %p{:style => "text-align: justify;"} 9.3.6. Usar indebidamente el uniforme aprobado por la Organización Profesional.
        %p{:style => "text-align: justify;"} 10. Relaciones de la Enfermera/o con sus colegas y otros profesionales del sector salud.
        %p{:style => "text-align: justify;"}
          %strong 10.1. Relaciones con las colegas.
        %p{:style => "text-align: justify;"}
          10.1.1. La relación debe ser armónica y de ayuda mutua en el quehacer, especialmente en la orientación de nuevas
          %br/
          promociones, casos de reincorporación al trabajo activo después de licencias prolongadas u otras circunstancias.
        %p{:style => "text-align: justify;"}
          %strong 10.1.2. Colaborarán entre si las enfermeras docentes y de los campos clínicos.
        %p{:style => "text-align: justify;"}
          10.2. Las relaciones entre colegas serán de mutuo respeto y lealtad, faltando gravemente a la ética:
          %br/
          10.2.1 La enfermera/o que provoque, difame, calumnie o injurie a una colega en su ejercicio profesional o en su vida
          %br/
          personal.
        %p{:style => "text-align: justify;"} 10.2.2. L a enfermera/o que no respeta la jerarquía en la profesión y trate desplazar a una colega mediante procedimiento ilícitos.
        %p{:style => "text-align: justify;"}
          10.2.3. La enfermera/o que falsea o se niegue a proporcionar la información familiares bajo control y altere la
          %br/
          convivencia normal.
        %p{:style => "text-align: justify;"}
          %strong 10.3. Relaciones con otros Profesionales del Sector Salud.
        %p{:style => "text-align: justify;"} Como miembro de un equipo multidisciplinario de salud, las enfermeras/os profesionales deben mantener una relación armónica con los demás profesionales, basada en el mutuo respeto y en la colaboración para promover el mejoramiento de la salud de la población, que constituye, su meta común.
        %p{:style => "text-align: justify;"}
          La relación médico/enfermera demanda una estrecha colaboración en la cual la enfermera/o debe cumplir las
          %br/
          indicaciones médicas y contribuir a mantener la confianza del paciente en el tratamiento prescrito. Informará al
          %br/
          médico de cualquier emergencia o cambio que observe en el paciente y que requiere de su atención.
        %p{:style => "text-align: justify;"} Cuando existan razones para creer que hubo un error, deberá comunicarlo de inmediato al médico tratante para esclarecer la situación.
        %p{:style => "text-align: justify;"}
          Además, colaborará con otros profesionales en la implementación de las medidas dispuestas para la prevención
          %br/
          de riesgos, accidentes, desastres y otras que tengan efectos perjudiciales para la salud.
        %p{:style => "text-align: justify;"}
          %strong 11. La Enfermera/o colabora con su Organización Profesional en el uso de los medios de comunicación.
        %p{:style => "text-align: justify;"} Para cumplir este propósito es indispensable:
        %p{:style => "text-align: justify;"} 11.1. Solicitar información de fuentes responsables cuando la enfermera/o tenga que utilizar los medios de comunicación para informar al público sobre la profesión.
        %p{:style => "text-align: justify;"}
          11.2. Cuidar que los datos recogidos en trabajos científicos destinados a la publicidad, sean de tal naturaleza que no
          %br/
          permita la individualización de pacientes o instituciones si puede para ellos resultar menoscabo.
        %p{:style => "text-align: justify;"} 11.3. Cuando la enfermera/o a través de sus consejos o enseñanza se refiere a ciertos productos alimenticios o servicios específicos, evitará hacer mención de determinadas marcas o fabricantes o nombres de instituciones para dejar en libertad al paciente o consultante que haga su propia elección.
        %p{:style => "text-align: justify;"}
          %strong 12. Relaciones de la Enfermera/o con la Comunidad.
        %p{:style => "text-align: justify;"}
          Las funciones que desempeña la enfermera/o en la comunidad exige otorgar servicios de enfermería en forma
          %br/
          permanente. Para que la comunidad no se vea perjudicada en caso de conflicto laborales, las enfermeras/os deberán
          %br/
          acatar las disposiciones que dicte su Organización Profesional en resguardo de la salud y bienestar general.
        %p{:style => "text-align: justify;"}
          %strong Autora : Sofía Pincheira Oyarzún
          %br/
          %strong Enfermera Universitaria
          %br/
          %strong Aprobado : Federación Panamericana
          %br/
          %strong Profesionales de Enfermería,
          %br/
          %strong Brasilia 1983.
          %br/
          %strong H. Consejo General Colegio
          %br/
          %strong de Enfermeras de Chile,
          %br/
          %strong Abril 1983

