

El Colegio de Enfermeras de Chile A. G. es la instancia gremial que defiende, protege y salvaguarda el ejercicio legal de la profesión, y promueve entre sus asociadas la capacitación, lo que permite a las enfermeras ejercer el rol de liderazgo que están llamadas a emprender dentro de los equipos de salud.
Para seguir luchando por la exclusividad universitaria, el desarrollo de las Subdirecciones de Gestión del Cuidado de Enfermería, y mejores condiciones laborales de sus afiliadas, el Colegio de Enfermeras necesita de tu participación.