.fusion-fullwidth.fullwidth-box{:style => "background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:20px;padding-left:0px;padding-right:0px;padding-top:20px;"}
  .avada-row
    .fusion-title.title
      %h3.title-heading-left REGLAMENTO ELECCIONES COLEGIO
      .title-sep-container
        .title-sep.sep-single{:style => "border-color:#e3a829;"}
    %p{:style => "text-align: center;"}
      %strong COLEGIO DE ENFERMERAS DE CHILE A.G.
      %br/
      %strong REGLAMENTO GENERAL DE ELECCIÓN
      %br/
      Actualizado, por mandato del Consejo Nacional del 31 de julio de 2008,
      %br/
      de acuerdo con la modificación de estatutos aprobada en
      %br/
      Asamblea extraordinaria del 01 de agosto de 2008.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO PRIMERO:
      La elección de los miembros del Directorio Nacional, Consejeros Regionales y de Subsedes del Colegio de Enfermeras de Chile A.G., sea con carácter ordinaria o extraordinaria, se regirá por el presente Reglamento de Elecciones, aprobado por el Consejo Nacional en sesión de Convención Nacional del 11 de enero del 2000 de acuerdo a sus atribuciones y actualizado de acuerdo con la modificación de Estatutos aprobada en Asamblea Extraordinaria del 1 de agosto de 2008.-
    %p{:style => "text-align: center;"}
      %strong TITULO I
      %br/
      %strong DE LAS ELECCIONES DE LOS CONSEJEROS
    %p{:style => "text-align: justify;"}
      %strong ARTICULO SEGUNDO:
      El Directorio Nacional se renovará cada dos años. Los Consejeros Regionales y de Subsedes se renovarán cada dos años por parcialidades de dos o tres, tres o cuatro, cuatro y cinco, según el número de miembros que lo compongan, de acuerdo a lo establecido en el artículo 19º del estatuto del Colegio.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO TERCERO:
      Los miembros del Directorio Nacional, serán elegidos por votación personal y secreta.
      %br/
      Serán miembros del Directorio Nacional, los candidatos que hayan obtenido, el mayor número de preferencias individuales.
      %br/
      Cada lista contendrá un número de candidatos no superior a los cargos a elegir.
      %br/
      Los miembros de los Consejos Regionales y Subsedes serán elegidos por igual sistema de votación personal y secreta.
      %br/
      Serán miembros de los Consejos Regionales y Subsedes, los candidatos que hayan obtenido el mayor numero de preferencias individuales.
      %br/
      Para tales efectos, cada lista contendrá un número de candidatos no superior a los cargos a elegir.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO CUARTO:
      Las elecciones ordinarias para elegir miembros del Directorio Nacional, Regionales y Subsedes, se efectuarán cada 2 años, en la primera quincena del mes de Junio, durante cuatro días hábiles, sin perjuicio de los días inhábiles intermedios.
      %br/
      Corresponderá al Consejo Nacional determinar, en el mes de Marzo del año que correspondan Elecciones Ordinarias, la fecha exacta de su realización. Por motivo justificado y con la aprobación de los 2/3 del Consejo Nacional la fecha de elecciones podrá postergarse por un lapso de tiempo no superior a seis meses.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO QUINTO:
      En caso que la emisión de sufragios totales sea inferior al 35% del total de Enfermeras con derecho a voto, el Consejo Nacional fijará nueva fecha de elecciones.-
      %br/
      La segunda elección se efectuará con las enfermeras, con derecho a voto, que concurran, prorrogando hasta el término de este proceso eleccionario, el mandato de las Consejeras salientes.-
    %p{:style => "text-align: justify;"}
      %strong ARTICULO SEXTO:
      Es requisito indispensable para todos y cada uno de los actos propios de las elecciones, que los colegiados estén al día en el pago de sus cotizaciones ingresadas a Tesorería General, dos meses antes del acto de sufragio, y/o que presenten al momento de votar el comprobante de pago de cuotas al día. Aquellas enfermeras que estén atrasadas en sus cuotas al momento de votar, deberán ponerse al día y cancelar 6 meses anticipados para tener derecho a sufragar.
      %br/
      Sólo podrán votar las colegiadas inscritas en los Registros del Consejo Regional respectivo, dentro de cuya jurisdicción tengan su domicilio por lo menos con 60 días de anticipación, al inicio del proceso de elecciones.-
      %br/
      Sólo podrán ser elegidos los colegiados que reúnan estos requisitos y los señalados en el articulo 10 y 11 del Estatuto del Colegio de Enfermeras de Chile A.G.-
    %p{:style => "text-align: center;"}
      %strong TITULO II
      %br/
      %strong DE LA CONVOCATORIA A ELECCIONES
    %p{:style => "text-align: justify;"}
      %strong ARTICULO SÉPTIMO:
      La Secretaria General del Consejo Nacional informará en el mes de Marzo del año que corresponda elecciones ordinarias, cuáles miembros del Directorio Nacional cesan en sus cargos en el mes de Junio, como también los cargos vacantes por renuncia u otra causa, lo que comunicará a los Consejos Regionales por circular.
      %br/
      En caso de postergarse la fecha de elecciones, la Secretaria General del Consejo informará a todos los Consejos Regionales y Subsedes, sobre el número de Directores Nacionales a elegir, a lo menos con dos meses de anticipación a la fecha de elecciones acordada.
      %br/
      En dicha convocatoria, la Secretaria General del Consejo Nacional, comunicará de manera clara y expresa, la forma en que se determinará el o los cargos a elegir, tomando en consideración para ello el orden de precedencia de los cargos que componen el Directorio Nacional, conforme lo establece el articulo 15 del Estatuto.
      %br/
      Asimismo la Secretaria de cada Consejo Regional informará a la Secretaria General del Consejo Nacional, en los mismos periodos estipulados (Marzo o dos meses antes de la fecha acordada), cuales Consejeros Regionales cesarán en sus cargos, como también los cargos vacantes por renuncia u otra causa.
    %p{:style => "text-align: justify;"}
      %strong ARTÍCULO OCTAVO:
      Con treinta días de anticipación, a lo menos, a aquél en que debe empezar la votación, el Consejo Regional y Subsede correspondiente, informará por Circular a todos los colegiados de su jurisdicción y a la Secretaria General del Consejo Nacional, la iniciación del proceso eleccionario.-
      %br/
      Dicha información contendrá, a lo menos, los siguientes puntos:
      %br/
      a) Número de cargos a elegir y la forma en que se llenarán los cargos
      %br/
      b) Requisitos para elegir y ser elegido.
      %br/
      c) Número de colegiados que se requieren para patrocinar listas de candidatos, en ese Consejo Regional.
      %br/
      d) Fecha límite de presentación de listas de candidatos.
      %br/
      e) Local o locales donde se votará
      %br/
      f) Días y horas de votación.
      %br/
      En un plazo no superior a 5 días, luego que cada Consejo Regional haya hecho su Convocatoria a elecciones en su jurisdicción, el Directorio Nacional hará una publicación única en un Diario de circulación nacional, donde anunciará la elección nacional y a lo menos los puntos d, e y f del inciso anterior. El costo de este aviso será de cargo del Consejo Nacional.-
    %p{:style => "text-align: center;"}
      %strong TITULO III
      %br/
      %strong DE LAS LISTAS DE CANDIDATOS/AS
    %p{:style => "text-align: justify;"}
      %strong> ARTICULO NOVENO:
      Las listas de candidatas/os a Directorio Nacional serán declaradas ante la Secretaria del Consejo Nacional (personalmente o vía fax) a lo menos con diez días de anticipación a aquél en que debe iniciarse la votación.
      %br/
      La lista de candidatos deberá ser patrocinada por un número de colegiados equivalentes al menos al 3% de las enfermeras del país con derecho a voto(1), en conformidad a los requisitos estipulados en el artículo 6º de este reglamento.
      %br/
      Dicho patrocinio se realizará en un formulario Ad-hoc en donde cada patrocinante deberá indicar con letra de imprenta legible, su nombre completo, cédula de identidad, inscripción en el colegio, lugar de trabajo y firma.-
      %br/
      Cada colegiado podrá firmar o patrocinar una sola lista para Directores Nacionales. Sólo será considerada la firma, que patrocina la solicitud, presentada en primer término, para la enfermera que apareciera firmando más de una lista.-
      %br/
      La declaración de cada lista deberá incluir la designación de tres apoderados, como máximo, de los cuales a lo menos uno de ellos/as, deberá tener residencia en Santiago.
    %p{:style => "text-align: justify;"}
      %strong LISTAS DE CANDIDATOS A CONSEJEROS REGIONALES
    %p{:style => "text-align: justify;"}
      Las listas de candidatos a Consejeros Regionales y de Subsedes serán declaradas ante la Secretaria del respectivo Consejo Regional. Esta declaración deberá hacerse a lo menos con diez días de anticipación a aquél en que debe iniciarse la votación.-
      %br/
      La lista deberá ser patrocinada por un número de colegiadas equivalentes, al menos, al 10% de las enfermeras con derecho a voto en el Consejo Regional o Subsede correspondiente, en conformidad a los requisitos estipulados en el artículo 6º de este reglamento.-
      %br/
      Dicho patrocinio se realizará en un formulario Ad-hoc en donde cada patrocinante deberá indicar con letra de imprenta legible, su nombre completo, cédula de identidad, inscripción en el colegio, lugar de trabajo y firma.-
      %br/
      Cada colegiado podrá firmar o patrocinar una sola lista para Consejeros Regionales o de Subsedes. Sólo será considerada la firma, que patrocina la solicitud, presentada en primer término, para la enfermera que apareciera firmando más de una lista.-
      %br/
      La declaración de cada lista deberá incluir la designación de tres apoderados, como máximo.
      %br/
      Los patrocinantes y apoderados de los candidatos a miembros del Directorio Nacional pueden ser los mismos que para los candidatos a Consejeros Regionales, si éstos son presentados por una misma lista.-
      %br/
      Sin perjuicio de la responsabilidad personal de los patrocinantes, se considera, en principio, salvo prueba en contrario, responsable a quien hubiera hecho entrega de la lista al Secretario Regional, y además, a los apoderados de ésta, de cualquier anomalía en la nómina de patrocinantes.-
    %h6
      %em (1) El padrón electoral, esto es el universo de enfermeras con derecho a voto, deberá actualizarse para cada
      %em proceso eleccionario y dar cuenta del mismo en la Convocatoria de los Consejos Regionales y de subsedes
    %p{:style => "text-align: justify;"}
      %strong ARTICULO DÉCIMO:
      Las listas podrán contener tantos nombres como cargos a llenar, El orden de precedencia en la lista de los distintos candidatos corresponderá al orden correlativo en que se presentarán los candidatos, en la cédula de votación.-
      %br/
      Un candidato no podrá figurar en más de una lista en la misma elección, ni aún en distintas jurisdicciones. Para este objeto, cada presentación de listas deberá venir acompañada de la aceptación del candidato a figurar en ella. Si aceptase firmar en más de una lista, ambas inclusiones serán nulas, salvo que en una de las listas consigne expresamente que retira su aceptación para la otra, dentro del plazo previsto para la inscripción.
      %br/
      No se aceptarán retiros después del cierre de las inscripciones.
      %br/
      El o los miembros que pertenezcan al Directorio del Consejo Regional correspondiente y que se presenten como candidatos, quedan inhabilitados para ejercer sus funciones en dicho Directorio desde su aceptación como candidato. Si el postulante a un nuevo período es él o la Secretaria del Consejo Regional, debe asumir la responsabilidad de las elecciones otro miembro del Directorio o del Consejo, dejando establecido en acta de sesión de este Consejo, el fundamento del cambio.
      %br/
      Donde se produzca la inhabilitación y/o renuncia de un porcentaje superior al 60% de integrantes del Consejo Regional (2) o del Directorio Nacional (3), éstos serán sustituidos, por las enfermeras de mayor antigüedad con cotizaciones vigentes, en número que al menos complete un 40% del total de integrantes del Consejo Regional.
      %br/
      Lo anterior para fines de llevar a efecto el proceso de votación (ordinario o extraordinario) y hasta que asuma el nuevo Directorio de acuerdo a lo estipulado en el artículo veinte de este reglamento (20º).
    %h6
      %em (2) Regional Santiago tiene 9 cargos / Regionales Concepción y Valparaíso tienen 7 cargos respectivamente. El resto de los
      %em Consejos regionales y subsedes tienen 5 cargos.
    %h6
      %em (3) Directorio Nacional tiene 9 cargos
    %p{:style => "text-align: justify;"}
      %strong ARTÍCULO DÉCIMO PRIMERO:
      La Secretaria del Consejo Regional deberá objetar las declaraciones de las listas de candidatos de sus respectivas sedes, que no reúnan los requisitos indicados.
      %br/
      El Secretario/a General del Consejo Nacional deberá objetar las declaraciones de las listas de candidatos a Directorio Nacional, que no reúnan los requisitos indicados.
      %br/
      El Secretario/a del Consejo Nacional llevará un libro encuadernado y foliado llamado “LIBRO DE ELECCIONES DE DIRECTORIO NACIONAL”, en el que se inscribirán las declaraciones de listas que se hicieren, dejando constancia del día, hora, vía de recepción de las listas (personal, carta, fax) de la declaración y los nombres de los apoderados designados en ella.
      %br/
      Asignará a cada lista, que reúna todos los requisitos indicados, un número de orden según su presentación y firmará las inscripciones conjuntamente con el o los apoderados, con residencia en Santiago.
      %br/
      El Secretario/a de cada Consejo Regional, llevará un libro encuadernado y foliado llamado “LIBRO DE ELECCIONES”, en el que se inscribirán las declaraciones de listas que se hicieren, dejando constancia del día y la hora de la declaración y los nombres de los apoderados designados en ella.
      %br/
      Asignará a cada lista que reúna todos los requisitos indicados, un número de orden según su presentación y firmará las inscripciones conjuntamente con los apoderados.
      %br/
      En el mismo libro la secretaria inscribirá las declaraciones que hiciere algún candidato si retirara su aceptación de alguna lista.
      %br/
      También deberá inscribirse los reclamos que pudieran hacer los apoderados, durante cualquier momento del proceso eleccionario.
      %br/
      Asignará a cada lista, que reúna todos los requisitos indicados, un número de orden según su presentación y firmará las inscripciones conjuntamente con los apoderados.
      %br/
      En el mismo libro el secretario inscribirá las declaraciones que hiciere algún candidato si retirara su aceptación de alguna lista.
      %br/
      También deberá inscribirse los reclamos que pudieran hacer los apoderados, durante cualquier momento del proceso eleccionario.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO DÉCIMO SEGUNDO :
      Copia de las anotaciones consignadas en el LIBRO DE ELECCIONES, referente a la elección que va a efectuarse, se exhibirá cuatro días antes de la elección y hasta el término de ella, en un lugar visible de la Sede de cada Consejo Regional y en aquellos lugares en que funcionarán las mesas Receptoras de Sufragios.
    %p{:style => "text-align: center;"}
      %strong TITULO IV
      %br/
      %strong DE LAS COMISIONES RECEPTORAS DE SUFRAGIOS
    %p{:style => "text-align: justify;"}
      %strong ARTÍCULO DÉCIMO TERCERO:
      Con treinta días de anticipación al día en que debe empezar la votación, El Consejo Regional correspondiente constituirá la o las Comisiones Receptoras de Sufragios.
      %br/
      Éstas estarán compuestas por un número no menor a dos (2) y no mayor a cuatro (4) colegiadas con derecho a voto y que no sean candidatas. Estas colegiadas serán seleccionadas del padrón electoral del Consejo Regional o Subsede respectivo, en conformidad a lo dispuesto en el Artículo 6º de este reglamento.
      %br/
      Para tal efecto se procederá a efectuar un muestreo sistemático al azar.
      %br/
      El número total de enfermeras con derecho a voto será dividido por el número de colegiadas necesarias para constituir la o las Comisiones Receptoras de Sufragios, el cuociente que se obtenga de esta operación será aplicado al listado oficial partiendo de la primera colegiada.
      %br/
      A los colegiados que resulten elegidos se les debe comunicar por escrito su designación, indicándoseles que deben contestar en igual forma su aceptación dentro de los cinco días siguientes a la recepción de la notificación.
      %br/
      En caso de rechazo se hará nuevamente el procedimiento de aplicación del cuociente al listado oficial.
      %br/
      Se designarán tantas Comisiones Receptoras de Sufragios como mesas receptoras sea necesario constituir. La comisión designará de entre sus miembros un Presidente y un Secretario. Para cumplir con sus funciones deberán constituirse diez días antes del inicio de la votación con dos miembros, a lo menos, momento en que el Secretario Regional instruirá sobre el proceso en que tomarán parte.
      %br/
      Si fuese necesario se reunirán más de una vez, previo a la votación.
      %br/
      En caso de ausencia de dos o más miembros de la Comisión Receptora, el día de la votación, ésta se constituirá con la primera o primeras colegiadas que concurran a sufragar.
    %p{:style => "text-align: justify;"}
      %strong ARTÍCULO DÉCIMO CUARTO:
      El o la secretario/a del correspondiente Consejo Regional pondrá a disposición de la Comisión Receptora de Sufragios un libro de Registro de Firmas, foliado en el cual aparecen correlativamente los números de inscripción en los Registros del Colegio, apellido y nombres de cada uno de los colegiados inscritos en él; Deberá además tener un casillero en blanco para anotar el número que recorta del voto y otro espacio para la firma del elector.
      %br/
      El Secretario del Consejo Regional pondrá también a disposición de la Comisión Receptora de Sufragios el listado oficial de los colegiados con derecho a voto, a la fecha prevista en el Art. 6º, del presente Reglamento.
    %p{:style => "text-align: center;"}
      %strong TITULO V
      %br/
      %strong DE LA VOTACIÓN
    %p{:style => "text-align: justify;"}
      %strong ARTÍCULO DÉCIMO QUINTO:
      El voto será personal y secreto y se emitirá en el o los locales que fije el Consejo Regional respectivo.
      %br/
      Los electores votarán en una cédula única, en las cuales irán impresas respectivamente, todas las listas inscritas en el Consejo Nacional (Directorio) , en cada Consejo Regional (Consejeros regionales), y en cada Subsede, bajo el epígrafe “Lista N° para Directorio Nacional (según el orden de inscripción) , “Lista N° para Consejo Regional (según el orden de inscripción), y lista Nº para Subsede (según orden de inscripción) con el nombre del o los candidatos a miembros del Directorio Nacional, los nombres de los candidatos a Consejeros Regionales respectivamente.
      %br/
      Al momento de sufragar el elector estará obligado a presentar cédula de identidad, el Presidente de la Comisión receptora de sufragios, verificará su calidad de colegiada con derecho a voto en el padrón electoral proporcionado por el Secretario/a del respectivo Consejo Regional o Subsede, luego se lo ubicará en el Libro de registro y se procederá a anotar el número de carnet y número de cédula única, firmará el elector y recibirá de manos del presidente, la cédula firmada previamente por el Presidente y Secretario en el reverso de ésta, El elector, premunido de un lápiz grafito proporcionado por la mesa receptora irá a la cámara secreta y marcará su preferencia por un candidato/a a Director/a Nacional, por un candidato/a a Consejero Regional, donde corresponda, cruzando con una línea el trazo horizontal que antecede al nombre, (el uso de otro tipo de lápiz u otro color, invalida el voto aún cuando el trazo esté correctamente hecho).
      %br/
      Cerrará la cédula por lo dobleces premarcados, lo devolverá al Presidente, quien verificará el número del voto, lo recortará y devolverá el voto a la interesada, que lo depositará en urna. A continuación se le devolverá la cédula de Identidad.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO DÉCIMO SEXTO:
      La/s urna/s será/n sellada/s por la Secretaria del Consejo Regional al comienzo de la votación y también en su presencia al final del acto eleccionario.
      %br/
      Al término de la jornada de cada día de votación, el Secretario de la Comisión Receptora, en presencia de los miembros de la Comisión y de los apoderados, procederá a sellar la/s urna/s, estampando en el/os sello/s su firma y la del Presidente. La integridad del sello/s se comprobará en la misma forma al inicio de la votación del día siguiente.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO DÉCIMO SÉPTIMO:
      Los colegiados que residan en la jurisdicción y que estuvieren imposibilitados de concurrir a votar por enfermedad u otro motivo muy justificado, podrán emitir sus sufragios por carta dirigida al Secretario de la Comisión Receptora de Sufragios. Este procederá a enviar por carta con cierre oficial debidamente firmado y una cédula doblada para que emita su voto.
      %br/
      Hecho lo cual, el elector colocará la cédula cerrada en el cierre oficial y lo enviará, en carta, al Secretario de la Comisión Receptora de Sufragios.
      %br/
      Los sufragios emitidos y enviados por cartas, se computarán sólo si reúne estos requisitos.
      %br/
      Acreditados los requisitos, se pondrá la cédula de la urna, guardando la carta que la contenía y dejará constancia en el casillero correspondiente al registro de firmas, que el elector ha sufragado por este medio.
    %p{:style => "text-align: center;"}
      %strong TITULO VI
      %br/
      %strong DE LOS ESCRUTINIOS Y PROCLAMACIÓN DE CANDIDATOS ELECTOS
    %p{:style => "text-align: justify;"}
      %strong ARTICULO DÉCIMO OCTAVO:
      Al término del último día de votación, en acto público, la Comisión Receptora de Sufragios, en presencia del Secretario/a del Consejo Regional y los Apoderados que comparezcan, procederá a reconocer el estado de la urna, utilizada para la votación, dejando el testimonio en el libro de elecciones. Verificada esta operación, efectuará el escrutinio de los votos emitidos.
      %br/
      Terminado el escrutinio, el Secretario de la Comisión Receptora de Sufragios levantará el Acta correspondiente, la cual será firmada por los miembros de la dicha Comisión y por los apoderados que lo deseen, los cuales podrán solicitar copia. Acto seguido el Secretario de la Comisión pondrá en sobre cerrado lacrado y firmado las cédulas con que se hubiese sufragado, separando las cédulas no escrutadas y, hará entrega del sobre al Secretario del Consejo Regional.
      %br/
      Al término del escrutinio, el/la Secretario/a de cada Consejo Regional y de cada Subsede enviará de inmediato e impostergablemente, vía correo electrónico o fax a la (el) Secretaria(o) del Consejo Nacional una copia del acta del escrutinio de votos emitidos en el acto eleccionario.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO DÉCIMO NOVENO:
      %br/
      Se eligen simultáneamente Directores Nacionales, Regionales y de Subsedes.
      %br/
      %strong A) PARA ELECCIÓN DE DIRECTORIO NACIONAL
      %br/
      El Directorio Nacional, en un plazo no superior al quinto día hábil del término del acto eleccionario y en presencia de los apoderados, procederá a sancionar los votos obtenidos en todo el país, enviados por los respectivos Consejos Regionales, por cada lista para Directores Nacionales, determinando con ellos el cargo que le corresponde asumir al (o los) candidato(s), quienes hayan obtenido el mayor numero de preferencias individuales, de acuerdo a la convocatoria efectuada por la Secretaria General del Consejo Nacional, la que deberá estar a su disposición para tal efecto. Determinado lo anterior, se proclamará elegido a los candidatos a Directorio Nacional.
      %br/
      Sin perjuicio de lo anterior y con el único propósito del normal funcionamiento del Directorio Nacional, se facultó a éste con posterior ratificación del Consejo Nacional, para alterar el cargo para el que resultó electo el candidato/a, con la excepción de los cargos de Presidenta, 1Vicepresidenta y Secretaria General. Lo anterior solo podrá ejercerse por no más de dos veces en el período respectivo.
    %p{:style => "text-align: justify;"}
      %strong B) PARA ELECCIÓN DE DIRECTORIO REGIONAL Y DE SUBSEDE
      %br/
      Dentro del quinto día del término del acto eleccionario, el Consejo Regional respectivo en pleno, en presencia de los apoderados de lista y previa revisión de los datos del escrutinio practicados por la o las comisiones receptoras de sufragios, consignarán los votos obtenidos por cada lista para consejeros regionales o de subsedes, determinando con ellos el cargo que le corresponde asumir, a nivel regional o de subsede, al (o los) candidato (s) quienes hayan obtenido el mayor numero de preferencias individuales, de acuerdo a la convocatoria efectuada por la Secretaria del respectivo Consejo Regional o Subsede, la que deberá estar a su disposición para tal efecto. Determinado lo anterior se proclamará elegido a los candidatos a Consejeros Regionales y de Subsedes.
      %br/
      En caso de empate, dentro de una misma lista, primará el orden de precedencia. En caso de empate de dos o más listas, obtendrá el cargo la lista con mayor número de preferencias.
      %br/
      Si se tratara de elecciones unipersonales se proclamará elegido al candidato que haya obtenido simple mayoría.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGÉSIMO:
      Si de la revisión de los datos de los escrutinios y/o de las reclamaciones efectuadas, se constatara errores y/u omisiones que alteren el resultado de la elección, se procederá a elevar al Tribunal calificador de Elecciones en sobre cerrado, lacrado y firmado las cédulas con que se sufragó. No se proclamará a los candidatos hasta que el Tribunal haya emitido su fallo, el que será entregado al Consejo Regional o Subsede para que proceda a la proclamación.
      %br/
      Proclamados por el Consejo Regional los candidatos elegidos, el Secretario del Consejo Regional lo comunicará por escrito al Consejo Nacional dentro de las 24 horas siguientes.
      %br/
      El nuevo Consejo asumirá en la fecha que el Consejo saliente señale, la que no podrá ser más allá de 20 días después de la proclamación.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGÉSIMO PRIMERO:
      Si vencido el plazo de inscripción de candidaturas se hubiese inscrito tanto candidatos como número de vacantes a consejeros, no se efectuará votación y el respectivo Consejo Regional, proclamará elegidos a los candidatos inscritos sin otro trámite, comunicándolo de inmediato al Consejo Nacional.
      %br/
      Lo expuesto en el inciso precedente, no procederá para las listas de candidatos a Directorio Nacional, debiendo éstas ser votadas a nivel nacional aún cuando se hubiere una única lista.
    %p{:style => "text-align: center;"}
      %strong TITULO VII
      %br/
      %strong DE LAS ELECCIONES EXTRAORDINARIAS
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGÉSIMO SEGUNDO:
      Si se produjere la vacancia de los cargos de Presidenta; 1ª Vicepresidenta; Secretaria General y/o Secretaria de Finanzas del Directorio Nacional, la/el Secretaria/o General de este Directorio, o quien lo reemplace, lo comunicará de inmediato a los Consejeros Nacionales a fin de que estos ratifiquen la fecha de elecciones propuestas por el Directorio Nacional y, solo una vez verificado dicho procedimiento, el mencionado Directorio quedará facultado para convocar a la elección extraordinaria. Esto se hará siempre que faltaren más de 6 meses para completar el respectivo período.
      %br/
      Para el resto de los cargos del Directorio Nacional, si se produjere la vacancia de alguno de ellos, el Consejo Nacional podrá elegir un reemplazante, que cumpla los requisitos del artículo 6º, por el periodo del Director Nacional que reemplaza.
      %br/
      Si se produjere la vacancia de un número total de Consejeros Regionales o de Consejeros de Subsedes que afecten el quórum de funcionamiento, se precederá de la siguiente forma:
      %br/
      El Consejo Regional o la Subsede informarán al Consejo Nacional dicha situación, para que el Consejo Nacional proceda de acuerdo con la normativa vigente.
      %br/
      El Consejo Nacional por su parte, recibida la comunicación sobre la situación referida, ratificará fecha de elección extraordinaria, la que no podrá ser mas allá de 45 días de producida la comunicación. Esto se hará siempre que al o los consejeros cuyo reemplazo se provee les faltaren más de 6 meses para completar su periodo
      %br/
      Los Consejeros elegidos en Elecciones Extraordinarias, ya sean del Regional o de Subsedes (por falta de quórum) o del Directorio Nacional, deben cumplir el período de los Consejeros que reemplazan.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGÉSIMO TERCERO:
      Las vacancias de Consejeros Regionales que no afectan el quórum pueden ser llenados con la elección directa realizada en una Asamblea convocada especialmente para tal efecto.
      %br/
      Los cargos así llenados son transitorios y serán elegidos en propiedad, en las elecciones Ordinarias que corresponde cada dos años. Si se produjere renuncia colectiva de los Consejeros Regionales, o de Consejeros de Subsedes, o se produjere una situación de inhabilitación de todos ellos, el Consejo Nacional convocará a los colegiados de la jurisdicción a una Asamblea General para elegir en votación directa a tantos colegiados como sea necesario, para integrar provisionalmente al respectivo Consejo hasta el momento en que se produzcan las Elecciones Ordinarias que corresponden cada dos años.
      %br/
      En todos estos casos los colegiados deberán reunir los requisitos necesarios y establecidos en el Artículo 6º del presente Reglamento.
    %p{:style => "text-align: center;"}
      %strong TITULO VIII
      %br/
      %strong DE LAS ELECCIONES EN SUBSEDES
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGESIMO CUARTO:
      Cada Subsede estará integrada por las enfermeras que trabajen en los establecimientos de la respectiva circunscripción, sean éstos públicos, municipalizados, privados u otros y por aquellas enfermeras que se adscriban a él por decisión de la Subsede.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGESIMO QUINTO:
      Las Subsedes serán dirigidas por una Directiva integrada por cinco miembros, elegidos en forma directa, teniendo derecho cada elector a un voto y proclamándose electos a los candidatos que obtengan la más alta mayoría. Los miembros de la Directiva durarán cuatro años en sus funciones, pudiendo ser reelegidos.
      %br/
      Las vacantes que se produzcan, serán llenadas en una nueva elección hasta completar el período correspondiente.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGESIMO SEXTO:
      La directiva denominará entre sus miembros: un(a) Presidente(a), un(a) Secretario(a), un(a) Tesorero(a) y dos Directores(as). En caso de ausencia o impedimento de la Presidenta, será subrogada por la Secretaria.
      %br/
      La Secretaria y la Tesorera se subrogarán una a la otra en caso de ausencia o impedimento. Si la ausencia o impedimento de un integrante de la directiva fuere superior a tres meses, corresponderá a la Directiva designar un suplente o podrá cooptar una persona, que reúna los requisitos del artículo 6º de este reglamento, hasta que se verifique la siguiente elección ordinaria.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGESIMO SEPTIMO:
      En lo que dice relación a los Patrocinantes, solo podrán patrocinar listas de candidatos las enfermeras/os afiliadas/os a la Subsede respectiva.
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGESIMO OCTAVO:
      En todo lo demás se aplicarán las normas sobre elecciones de los Consejos Regionales.
    %p{:style => "text-align: center;"}
      %strong TITULO IX
      %br/
      %strong DEL TRIBUNAL CALIFICADOR DE ELECCIONES
    %p{:style => "text-align: justify;"}
      %strong ARTICULO VIGÉSIMO NOVENO:
      Cada dos años, a lo menos dos meses antes de las elecciones, el Consejo Nacional designará por sorteo entre los colegiados activos con diez años de afiliación por lo menos, y tengan su domicilio en Santiago, al Tribunal Calificador de Elecciones compuesto por a lo menos 3 miembros titulares y 2 suplentes, los que podrán ser reconfirmados en sus cargos por períodos sucesivos, Deberán estar al día en sus cotizaciones y no podrán ser candidatos ni apoderados.
    %p{:style => "text-align: justify;"}
      Este tribunal conocerá de todas las reclamaciones que se susciten o interpongan por infracción de cualquiera de las disposiciones de los Estatutos o de este Reglamento, en relación con las elecciones.-
      %br/
      Tales reclamaciones deberán ser interpuestas por uno o más colegiados de la jurisdicción del respectivo Consejo Regional o Subsede, dentro del tercer día contado desde aquel en que se produjo la infracción. Las reclamaciones podrán deducirse por cualquier vía, sea directamente ante el tribunal Calificador o ante el Secretario del Consejo Regional o Subsede respectiva, caso éste, en que deberán ser remitidas dentro de 48 horas, por carta certificada al Tribunal Calificador.
    %p
      %strong ARTICULO TRIGESIMO:
      El Tribunal Calificador designará de entre sus miembros y en su primera sesión, un Presidente y un Secretario podrá solicitar asesoría jurídica del Colegio.
      %br/
      Sus miembros serán inamovibles, Podrán requerir todos los antecedentes que estimen convenientes para resolver las reclamaciones de que conociere.-
      %br/
      Sus resoluciones se adoptarán por mayoría de votos, y contra ellas sólo procederá recurso de apelación ante el Consejo Nacional.-
    %p{:style => "text-align: justify;"}
      %strong ARTICULO TRIGESIMO PRIMERO:
      Si se resolviere la anulación de una elección, la repetición de ésta se hará sobre la base de las mismas listas de candidatos presentados para aquella anulada, salvo que se trate de una reclamación fundada en los requisitos de los candidatos o de sus patrocinantes, en cuyo caso se procederá como si se tratase de una elección no realizada antes.-
