.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h1.panel-title Bienes Raices
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Nombre Documento
            %th Archivo
            %th


        %tbody
          - @documents.each do |document|
            %tr
              %td= document.name
              %td= document.file
              %td= link_to 'Eliminar', document, :method => :delete, :data => { :confirm => 'Está seguro?' }

      %br

      = link_to 'Agregar Documento', "/documents/new", data: { modal: true } , class: 'btn btn-success' 
