%h3 Sensomatica#index
%p Find me in app/views/sensomatica/index.html.haml


%button{:onclick => "interval()"} Interval
%button{:onclick => "timeout()"} Timeout
#testdiv
%br
%br
%br
%br
%h1= DateTime.now
%h1= @temp

= link_to 'TEMPERATURA', "/sensomatica/calltemp", class: 'btn btn-success' 

