.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Sociedades
    .panel-body
      %h2 RUT Invalido

      = link_to 'Editar', "/sociedads/#{@sociedad.id}/edit", data: { modal: true }, class: 'btn btn-info'