.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Deuda Indirecta
    .panel-body
      %h2 RUT Invalido

      = link_to 'Editar', "/deuda_indirecta/#{@person.deuda_indirectum.id}/edit", data: { modal: true }, class: 'btn btn-info'